## Bringing | Importing dataset to Python

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("/Users/mdarifmokhtar/Desktop/Desktop Stuff/Datasets/pokemon_data.csv")

In [7]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [10]:
new_df = pd.read_excel('/Users/mdarifmokhtar/Desktop/Desktop Stuff/Datasets/Global_Superstore.xlsx')

In [9]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 KB 3.2 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [11]:
new_df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Profit Category-Updated,Profit Category,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,Worse,Awesome,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,Worse,Worse,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,Worse,Worse,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,Worse,Worse,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,Worse,Worse,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,Worse,Worse,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440,Worse,Worse,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,Art,Newell 341,8.560,2,0.0,2.4824,Worse,Worse,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,Worse,Worse,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,Worse,Worse,1.002,High

In [20]:
new_df_updated = pd.read_excel('/Users/mdarifmokhtar/Desktop/Desktop Stuff/Datasets/Global_Superstore.xlsx', sheet_name= 1)

In [16]:
new_df_updated

              Unnamed: 0         Unnamed: 1
0                 Person             Region
1      Marilène Rousseau          Caribbean
2       Andile Ihejirika     Central Africa
3      Nicodemo Bautista    Central America
4         Cansu Peynirci       Central Asia
5             Lon Bonher         Central US
6           Wasswa Ahmed     Eastern Africa
7          Hadia Bousaid       Eastern Asia
8         Lynne Marchand     Eastern Canada
9          Oxana Lagunov     Eastern Europe
10         Dolores Davis         Eastern US
11      Lindiwe Afolayan       North Africa
12          Miina Nylund    Northern Europe
13           Kauri Anaru            Oceania
14       Vasco Magalhães      South America
15      Preecha Metharom  Southeastern Asia
16          Nora Cuijper    Southern Africa
17  Chandrakant Chaudhri      Southern Asia
18           Gavino Bove    Southern Europe
19       Flannery Newton        Southern US
20        Katlego Akosua     Western Africa
21             Kaoru Xun       Western Asia
22        Angela Jephson     Western Canada
23         Gilbert Wolff     Western Europe
24       Derrick Snyders         Western US

In [17]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [21]:
x = [1,2,3,4,5,6]

In [22]:
x[2]

3

In [23]:
x[-2]

5

In [301]:
df = pd.read_csv('/Users/mdarifmokhtar/Desktop/Desktop Stuff/Datasets/titanic.csv')

In [302]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [43]:
pd.options.display.max_rows = 60

In [40]:
pd.options.display.min_rows

10

In [44]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [45]:
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [48]:
df.head(50)

    survived  pclass     sex   age  sibsp  parch      fare embarked deck
0          0       3    male  22.0      1      0    7.2500        S  NaN
1          1       1  female  38.0      1      0   71.2833        C    C
2          1       3  female  26.0      0      0    7.9250        S  NaN
3          1       1  female  35.0      1      0   53.1000        S    C
4          0       3    male  35.0      0      0    8.0500        S  NaN
5          0       3    male   NaN      0      0    8.4583        Q  NaN
6          0       1    male  54.0      0      0   51.8625        S    E
7          0       3    male   2.0      3      1   21.0750        S  NaN
8          1       3  female  27.0      0      2   11.1333        S  NaN
9          1       2  female  14.0      1      0   30.0708        C  NaN
10         1       3  female   4.0      1      1   16.7000        S    G
11         1       1  female  58.0      0      0   26.5500        S    C
12         0       3    male  20.0      0      0    8.0500        S  NaN
13         0       3    male  39.0      1      5   31.2750        S  NaN
14         0       3  female  14.0      0      0    7.8542        S  NaN
15         1       2  female  55.0      0      0   16.0000        S  NaN
16         0       3    male   2.0      4      1   29.1250        Q  NaN
17         1       2    male   NaN      0      0   13.0000        S  NaN
18         0       3  female  31.0      1      0   18.0000        S  NaN
19         1       3  female   NaN      0      0    7.2250        C  NaN
20         0       2    male  35.0      0      0   26.0000        S  NaN
21         1       2    male  34.0      0      0   13.0000        S    D
22         1       3  female  15.0      0      0    8.0292        Q  NaN
23         1       1    male  28.0      0      0   35.5000        S    A
24         0       3  female   8.0      3      1   21.0750        S  NaN
25         1       3  female  38.0      1      5   31.3875        S  NaN
26         0       3    male   NaN      0      0    7.2250        C  NaN
27         0       1    male  19.0      3      2  263.0000        S    C
28         1       3  female   NaN      0      0    7.8792        Q  NaN
29         0       3    male   NaN      0      0    7.8958        S  NaN
30         0       1    male  40.0      0      0   27.7208        C  NaN
31         1       1  female   NaN      1      0  146.5208        C    B
32         1       3  female   NaN      0      0    7.7500        Q  NaN
33         0       2    male  66.0      0      0   10.5000        S  NaN
34         0       1    male  28.0      1      0   82.1708        C  NaN
35         0       1    male  42.0      1      0   52.0000        S  NaN
36         1       3    male   NaN      0      0    7.2292        C  NaN
37         0       3    male  21.0      0      0    8.0500        S  NaN
38         0       3  female  18.0      2      0   18.0000        S  NaN
39         1       3  female  14.0      1      0   11.2417        C  NaN
40         0       3  female  40.0      1      0    9.4750        S  NaN
41         0       2  female  27.0      1      0   21.0000        S  NaN
42         0       3    male   NaN      0      0    7.8958        C  NaN
43         1       2  female   3.0      1      2   41.5792        C  NaN
44         1       3  female  19.0      0      0    7.8792        Q  NaN
45         0       3    male   NaN      0      0    8.0500        S  NaN
46         0       3    male   NaN      1      0   15.5000        Q  NaN
47         1       3  female   NaN      0      0    7.7500        Q  NaN
48         0       3    male   NaN      2      0   21.6792        C  NaN
49         0       3  female  18.0      1      0   17.8000        S  NaN

In [50]:
df.tail(20)

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
871         1       1  female  47.0      1      1  52.5542        S    D
872         0       1    male  33.0      0      0   5.0000        S    B
873         0       3    male  47.0      0      0   9.0000        S  NaN
874         1       2  female  28.0      1      0  24.0000        C  NaN
875         1       3  female  15.0      0      0   7.2250        C  NaN
876         0       3    male  20.0      0      0   9.8458        S  NaN
877         0       3    male  19.0      0      0   7.8958        S  NaN
878         0       3    male   NaN      0      0   7.8958        S  NaN
879         1       1  female  56.0      0      1  83.1583        C    C
880         1       2  female  25.0      0      1  26.0000        S  NaN
881         0       3    male  33.0      0      0   7.8958        S  NaN
882         0       3  female  22.0      0      0  10.5167        S  NaN
883         0       2    male  28.0      0      0  10.5000        S  NaN
884         0       3    male  25.0      0      0   7.0500        S  NaN
885         0       3  female  39.0      0      5  29.1250        Q  NaN
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

In [51]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [52]:
df.describe(include = 'O')

         sex embarked deck
count    891      889  203
unique     2        3    7
top     male        S    C
freq     577      644   59

In [53]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [59]:
## Creating new column in the dataset - insert(), []
df.insert(6,'Along_with_passenger',df.sibsp+df.parch)

In [57]:
## Accessing columns from a dataframe
df[['fare','deck']]

        fare deck
0     7.2500  NaN
1    71.2833    C
2     7.9250  NaN
3    53.1000    C
4     8.0500  NaN
..       ...  ...
886  13.0000  NaN
887  30.0000    B
888  23.4500  NaN
889  30.0000    C
890   7.7500  NaN

[891 rows x 2 columns]

In [58]:
df.fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: fare, Length: 891, dtype: float64

In [60]:
df

,survived,pclass,sex,age,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1,0,1,7.2500,S,NaN
1,1,1,female,38.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1,0,1,53.1000,S,C
4,0,3,male,35.0,0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,1,2,3,23.4500,S,NaN
889,1,1,male,26.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,0,0,0,7.7500,Q,NaN

In [61]:
df['YOB'] = 1912 - df.age

In [62]:
df

,survived,pclass,sex,age,sibsp,parch,Along_with_passenger,fare,embarked,deck,YOB
0,0,3,male,22.0,1,0,1,7.2500,S,NaN,1890.0
1,1,1,female,38.0,1,0,1,71.2833,C,C,1874.0
2,1,3,female,26.0,0,0,0,7.9250,S,NaN,1886.0
3,1,1,female,35.0,1,0,1,53.1000,S,C,1877.0
4,0,3,male,35.0,0,0,0,8.0500,S,NaN,1877.0
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,0,13.0000,S,NaN,1885.0
887,1,1,female,19.0,0,0,0,30.0000,S,B,1893.0
888,0,3,female,NaN,1,2,3,23.4500,S,NaN,NaN
889,1,1,male,26.0,0,0,0,30.0000,C,C,1886.0
890,0,3,male,32.0,0,0,0,7.7500,Q,NaN,1880.0

In [65]:
df[['survived','pclass','sex','age','YOB','sibsp','parch','Along_with_passenger','fare','embarked','deck']]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [66]:
df

,survived,pclass,sex,age,sibsp,parch,Along_with_passenger,fare,embarked,deck,YOB
0,0,3,male,22.0,1,0,1,7.2500,S,NaN,1890.0
1,1,1,female,38.0,1,0,1,71.2833,C,C,1874.0
2,1,3,female,26.0,0,0,0,7.9250,S,NaN,1886.0
3,1,1,female,35.0,1,0,1,53.1000,S,C,1877.0
4,0,3,male,35.0,0,0,0,8.0500,S,NaN,1877.0
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,0,13.0000,S,NaN,1885.0
887,1,1,female,19.0,0,0,0,30.0000,S,B,1893.0
888,0,3,female,NaN,1,2,3,23.4500,S,NaN,NaN
889,1,1,male,26.0,0,0,0,30.0000,C,C,1886.0
890,0,3,male,32.0,0,0,0,7.7500,Q,NaN,1880.0

In [67]:
df.columns.values

array(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch',
       'Along_with_passenger', 'fare', 'embarked', 'deck', 'YOB'],
      dtype=object)

In [68]:
cols = list(df.columns.values)

In [69]:
cols

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'Along_with_passenger',
 'fare',
 'embarked',
 'deck',
 'YOB']

In [77]:
cols[0:4]+[cols[-1]]+cols[4:10]

['survived',
 'pclass',
 'sex',
 'age',
 'YOB',
 'sibsp',
 'parch',
 'Along_with_passenger',
 'fare',
 'embarked',
 'deck']

In [71]:
cols[0:4]

['survived', 'pclass', 'sex', 'age']

In [72]:
cols[4:10]

['sibsp', 'parch', 'Along_with_passenger', 'fare', 'embarked', 'deck']

In [76]:
[cols[-1]]

['YOB']

In [80]:
df = df[cols[0:4]+ [cols[-1]] + cols[4:10]]

In [81]:
df

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [82]:
cols

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'Along_with_passenger',
 'fare',
 'embarked',
 'deck',
 'YOB']

In [83]:
cols[-1]

'YOB'

In [84]:
df

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [86]:
## Subsetting the data
df_male = df[df['sex']=='male']

In [87]:
df_male

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
5,0,3,male,NaN,NaN,0,0,0,8.4583,Q,NaN
6,0,1,male,54.0,1858.0,0,0,0,51.8625,S,E
7,0,3,male,2.0,1910.0,3,1,4,21.0750,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
883,0,2,male,28.0,1884.0,0,0,0,10.5000,S,NaN
884,0,3,male,25.0,1887.0,0,0,0,7.0500,S,NaN
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [96]:
df_female_kid = df[(df['sex']=='female') | (df['age']<=18)]

In [97]:
df_female_kid

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
7,0,3,male,2.0,1910.0,3,1,4,21.0750,S,NaN
8,1,3,female,27.0,1885.0,0,2,2,11.1333,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
880,1,2,female,25.0,1887.0,0,1,1,26.0000,S,NaN
882,0,3,female,22.0,1890.0,0,0,0,10.5167,S,NaN
885,0,3,female,39.0,1873.0,0,5,5,29.1250,Q,NaN
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN

In [98]:
df

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [99]:
new_df = df[['survived','age','YOB','embarked']]

In [100]:
new_df

     survived   age     YOB embarked
0           0  22.0  1890.0        S
1           1  38.0  1874.0        C
2           1  26.0  1886.0        S
3           1  35.0  1877.0        S
4           0  35.0  1877.0        S
..        ...   ...     ...      ...
886         0  27.0  1885.0        S
887         1  19.0  1893.0        S
888         0   NaN     NaN        S
889         1  26.0  1886.0        C
890         0  32.0  1880.0        Q

[891 rows x 4 columns]

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   survived              891 non-null    int64
 1   pclass                891 non-null    int64
 2   sex                   891 non-null    object
 3   age                   714 non-null    float64
 4   YOB                   714 non-null    float64
 5   sibsp                 891 non-null    int64
 6   parch                 891 non-null    int64
 7   Along_with_passenger  891 non-null    int64
 8   fare                  891 non-null    float64
 9   embarked              889 non-null    object
 10  deck                  203 non-null    object
dtypes: float64(3), int64(5), object(3)
memory usage: 76.7+ KB

In [102]:
df.dtypes

survived                  int64
pclass                    int64
sex                      object
age                     float64
YOB                     float64
sibsp                     int64
parch                     int64
Along_with_passenger      int64
fare                    float64
embarked                 object
deck                     object
dtype: object

In [103]:
df.select_dtypes(include = ['int','float'])

,survived,pclass,age,YOB,sibsp,parch,Along_with_passenger,fare
0,0,3,22.0,1890.0,1,0,1,7.2500
1,1,1,38.0,1874.0,1,0,1,71.2833
2,1,3,26.0,1886.0,0,0,0,7.9250
3,1,1,35.0,1877.0,1,0,1,53.1000
4,0,3,35.0,1877.0,0,0,0,8.0500
...,...,...,...,...,...,...,...,...
886,0,2,27.0,1885.0,0,0,0,13.0000
887,1,1,19.0,1893.0,0,0,0,30.0000
888,0,3,NaN,NaN,1,2,3,23.4500
889,1,1,26.0,1886.0,0,0,0,30.0000
890,0,3,32.0,1880.0,0,0,0,7.7500

In [108]:
df.pclass.nunique()

3

In [109]:
df.pclass.unique()

array([3, 1, 2])

In [104]:
df['pclass'].value_counts()

3    491
1    216
2    184
Name: pclass, dtype: int64

In [114]:
df.pclass.value_counts()

3    491
1    216
2    184
Name: pclass, dtype: int64

In [105]:
df['pclass'].count()

891

In [106]:
df['sex'].value_counts()

male      577
female    314
Name: sex, dtype: int64

In [107]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [110]:
print('Hi')

Hi

In [111]:
import os

In [112]:
os.getcwd()

'/Users/mdarifmokhtar/Desktop'

In [113]:
df_female_kid = df[(df['sex']=='female') | (df['age']<=18)]

TypeError: Cannot perform 'ror_' with a dtyped [float64] array and scalar of type [bool]

In [115]:
df

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [120]:
df[(df['age'] >= 20) & (df['age'] <30)]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
8,1,3,female,27.0,1885.0,0,2,2,11.1333,S,NaN
23,1,1,male,28.0,1884.0,0,0,0,35.5000,S,A
34,0,1,male,28.0,1884.0,1,0,1,82.1708,C,NaN
...,...,...,...,...,...,...,...,...,...,...,...
882,0,3,female,22.0,1890.0,0,0,0,10.5167,S,NaN
883,0,2,male,28.0,1884.0,0,0,0,10.5000,S,NaN
884,0,3,male,25.0,1887.0,0,0,0,7.0500,S,NaN
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C

In [117]:
df[df.age.between(20,30)]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
8,1,3,female,27.0,1885.0,0,2,2,11.1333,S,NaN
12,0,3,male,20.0,1892.0,0,0,0,8.0500,S,NaN
23,1,1,male,28.0,1884.0,0,0,0,35.5000,S,A
...,...,...,...,...,...,...,...,...,...,...,...
882,0,3,female,22.0,1890.0,0,0,0,10.5167,S,NaN
883,0,2,male,28.0,1884.0,0,0,0,10.5000,S,NaN
884,0,3,male,25.0,1887.0,0,0,0,7.0500,S,NaN
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C

In [121]:
df[df.age.between(20,30, inclusive=False)]

/var/folders/np/z13y5s3n2jlc7d6fgfm132gm0000gn/T/ipykernel_60456/286527923.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df[df.age.between(20,30, inclusive=False)]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
8,1,3,female,27.0,1885.0,0,2,2,11.1333,S,NaN
23,1,1,male,28.0,1884.0,0,0,0,35.5000,S,A
34,0,1,male,28.0,1884.0,1,0,1,82.1708,C,NaN
...,...,...,...,...,...,...,...,...,...,...,...
882,0,3,female,22.0,1890.0,0,0,0,10.5167,S,NaN
883,0,2,male,28.0,1884.0,0,0,0,10.5000,S,NaN
884,0,3,male,25.0,1887.0,0,0,0,7.0500,S,NaN
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C

In [125]:
df[((df.age.between(20,30) & (df.pclass.between(1,2)) | (df.fare > 21)))]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
6,0,1,male,54.0,1858.0,0,0,0,51.8625,S,E
7,0,3,male,2.0,1910.0,3,1,4,21.0750,S,NaN
9,1,2,female,14.0,1898.0,1,0,1,30.0708,C,NaN
...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,1873.0,0,5,5,29.1250,Q,NaN
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C

In [126]:
df.deck.nunique()

7

In [127]:
df[(df.age.between(20,30)) & (df.pclass.between(1,2))]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
23,1,1,male,28.0,1884.0,0,0,0,35.5000,S,A
34,0,1,male,28.0,1884.0,1,0,1,82.1708,C,NaN
41,0,2,female,27.0,1885.0,1,0,1,21.0000,S,NaN
53,1,2,female,29.0,1883.0,1,0,1,26.0000,S,NaN
56,1,2,female,21.0,1891.0,0,0,0,10.5000,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
874,1,2,female,28.0,1884.0,1,0,1,24.0000,C,NaN
880,1,2,female,25.0,1887.0,0,1,1,26.0000,S,NaN
883,0,2,male,28.0,1884.0,0,0,0,10.5000,S,NaN
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C

In [128]:
df[(df.age.between(20,30)) & (df.pclass.between(1,2)) & (df.fare > 21)]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
23,1,1,male,28.0,1884.0,0,0,0,35.5000,S,A
34,0,1,male,28.0,1884.0,1,0,1,82.1708,C,NaN
53,1,2,female,29.0,1883.0,1,0,1,26.0000,S,NaN
72,0,2,male,21.0,1891.0,0,0,0,73.5000,S,NaN
83,0,1,male,28.0,1884.0,0,0,0,47.1000,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
842,1,1,female,30.0,1882.0,0,0,0,31.0000,C,NaN
848,0,2,male,28.0,1884.0,0,1,1,33.0000,S,NaN
874,1,2,female,28.0,1884.0,1,0,1,24.0000,C,NaN
880,1,2,female,25.0,1887.0,0,1,1,26.0000,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C

In [129]:
df.deck.nunique()

7

In [130]:
df.deck.unique()

array([nan, 'C', 'E', 'G', 'D', 'A', 'B', 'F'], dtype=object)

In [134]:
df[(df.deck == 'A') | (df.deck == 'B') | (df.deck== 'C')]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
11,1,1,female,58.0,1854.0,0,0,0,26.5500,S,C
23,1,1,male,28.0,1884.0,0,0,0,35.5000,S,A
27,0,1,male,19.0,1893.0,3,2,5,263.0000,S,C
...,...,...,...,...,...,...,...,...,...,...,...
867,0,1,male,31.0,1881.0,0,0,0,50.4958,S,A
872,0,1,male,33.0,1879.0,0,0,0,5.0000,S,B
879,1,1,female,56.0,1856.0,0,1,1,83.1583,C,C
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C

In [135]:
deck = ['A','B','C']

In [136]:
df[df.deck.isin(deck)]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
11,1,1,female,58.0,1854.0,0,0,0,26.5500,S,C
23,1,1,male,28.0,1884.0,0,0,0,35.5000,S,A
27,0,1,male,19.0,1893.0,3,2,5,263.0000,S,C
...,...,...,...,...,...,...,...,...,...,...,...
867,0,1,male,31.0,1881.0,0,0,0,50.4958,S,A
872,0,1,male,33.0,1879.0,0,0,0,5.0000,S,B
879,1,1,female,56.0,1856.0,0,1,1,83.1583,C,C
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C

In [137]:
df.deck.unique()

array([nan, 'C', 'E', 'G', 'D', 'A', 'B', 'F'], dtype=object)

In [151]:
deck

['A', 'B', 'C']

In [140]:
df[~df.deck.isin(deck)]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
5,0,3,male,NaN,NaN,0,0,0,8.4583,Q,NaN
6,0,1,male,54.0,1858.0,0,0,0,51.8625,S,E
...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,1887.0,0,0,0,7.0500,S,NaN
885,0,3,female,39.0,1873.0,0,5,5,29.1250,Q,NaN
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [142]:
df[df.deck.notin(deck)]

AttributeError: 'Series' object has no attribute 'notin'

In [143]:
## Handling Missing Values (isnull, isna)
df

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [146]:
df[df['deck'].isna()]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
5,0,3,male,NaN,NaN,0,0,0,8.4583,Q,NaN
7,0,3,male,2.0,1910.0,3,1,4,21.0750,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,1887.0,0,0,0,7.0500,S,NaN
885,0,3,female,39.0,1873.0,0,5,5,29.1250,Q,NaN
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [147]:
df[df['deck'].isnull()]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
5,0,3,male,NaN,NaN,0,0,0,8.4583,Q,NaN
7,0,3,male,2.0,1910.0,3,1,4,21.0750,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,1887.0,0,0,0,7.0500,S,NaN
885,0,3,female,39.0,1873.0,0,5,5,29.1250,Q,NaN
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   survived              891 non-null    int64
 1   pclass                891 non-null    int64
 2   sex                   891 non-null    object
 3   age                   714 non-null    float64
 4   YOB                   714 non-null    float64
 5   sibsp                 891 non-null    int64
 6   parch                 891 non-null    int64
 7   Along_with_passenger  891 non-null    int64
 8   fare                  891 non-null    float64
 9   embarked              889 non-null    object
 10  deck                  203 non-null    object
dtypes: float64(3), int64(5), object(3)
memory usage: 76.7+ KB

In [149]:
df.isnull().sum()

survived                  0
pclass                    0
sex                       0
age                     177
YOB                     177
sibsp                     0
parch                     0
Along_with_passenger      0
fare                      0
embarked                  2
deck                    688
dtype: int64

In [150]:
df[df.deck.isna()]

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
5,0,3,male,NaN,NaN,0,0,0,8.4583,Q,NaN
7,0,3,male,2.0,1910.0,3,1,4,21.0750,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,1887.0,0,0,0,7.0500,S,NaN
885,0,3,female,39.0,1873.0,0,5,5,29.1250,Q,NaN
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [155]:
df[df.deck =='A']

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
23,1,1,male,28.0,1884.0,0,0,0,35.5000,S,A
96,0,1,male,71.0,1841.0,0,0,0,34.6542,C,A
174,0,1,male,56.0,1856.0,0,0,0,30.6958,C,A
185,0,1,male,NaN,NaN,0,0,0,50.0000,S,A
209,1,1,male,40.0,1872.0,0,0,0,31.0000,C,A
284,0,1,male,NaN,NaN,0,0,0,26.0000,S,A
445,1,1,male,4.0,1908.0,0,2,2,81.8583,S,A
475,0,1,male,NaN,NaN,0,0,0,52.0000,S,A
556,1,1,female,48.0,1864.0,1,0,1,39.6000,C,A
583,0,1,male,36.0,1876.0,0,0,0,40.1250,C,A
599,1,1,male,49.0,1863.0,1,0,1,56.9292,C,A
630,1,1,male,80.0,1832.0,0,0,0,30.0000,S,A
647,1,1,male,56.0,1856.0,0,0,0,35.5000,C,A
806,0,1,male,39.0,1873.0,0,0,0,0.0000,S,A
867,0,1,male,31.0,1881.0,0,0,0,50.4958,S,A

In [ ]:
i am not getting answer for following question can you plz check the code and let me know where I did the mistake

Write a program to accept two numbers and a mathematical operators and perform operation accordingly
x=int(input("enter number1"))
y=int(input("enter number2"))
mp=input("enter the mathamatical operator")
if mp== "+":
    print("the sum of two numbers=", x+y)
elif mp== "-":
   z=input("x-y or y-z: ")
if z==x-y or z==y-x:
    print("the difference between two numbers=", x-y)
else:
    print("the difference between two numbers=", y-x)
​
elif mp== "*":
    print("Multiplication of two numbers=", x*y)
elif mp== "%":
    z=input("x%y or y%x: ")
    if z==x%y or z==y%x
    print("reminder of division=", x%y)
    else:
        print("reminder of the division is", y%x)
elif mp== "/":
    z=input(z==x/y or z==y/z)
    if z==x%y or z==y%x
    print("quotient of division=", z)
    else:
        print(quotient of division=", z)

In [156]:
## Handling the missing values

In [167]:
df

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,3,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [168]:
df['age'].fillna(20, inplace = True )

/var/folders/np/z13y5s3n2jlc7d6fgfm132gm0000gn/T/ipykernel_60456/4064068098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'].fillna(20, inplace = True )

In [169]:
df

,survived,pclass,sex,age,YOB,sibsp,parch,Along_with_passenger,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,1,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,1,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,0,30.0000,S,B
888,0,3,female,20.0,NaN,1,2,3,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,0,7.7500,Q,NaN

In [175]:
df['age'].mean()

29.69911764705882

In [172]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [173]:
df['age'].fillna(df['age'].mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

In [174]:
df['age'].mean()

29.69911764705882

In [176]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [179]:
df[{'age':'deck'}].fillna({20:'C'})

/var/folders/np/z13y5s3n2jlc7d6fgfm132gm0000gn/T/ipykernel_60456/2745570609.py:1: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  df[{'age':'deck'}].fillna({20:'C'})

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [183]:
df.fillna({'age':20,'deck':'C'})

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S    C
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S    C
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S    C
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S    C
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female  20.0      1      2  23.4500        S    C
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q    C

[891 rows x 9 columns]

In [182]:
df[{'age':20,'deck':'C'}].fillna()

/var/folders/np/z13y5s3n2jlc7d6fgfm132gm0000gn/T/ipykernel_60456/1558472754.py:1: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  df[{'age':20,'deck':'C'}].fillna()

ValueError: Must specify a fill 'value' or 'method'.

In [180]:
df['age','deck'].fillna({'age':20,'deck':'C'})

KeyError: ('age', 'deck')

In [184]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [185]:
df['age'].fillna(method = 'ffill')

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    19.0
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [186]:
df['age'].fillna(method = 'bfill')

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    26.0
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [190]:
df['age'].fillna(method = 'ffill', limit = 1)

0      22.00
1      38.00
2      26.00
3      35.00
4      35.00
5      35.00
6      54.00
7       2.00
8      27.00
9      14.00
10      4.00
11     58.00
12     20.00
13     39.00
14     14.00
15     55.00
16      2.00
17      2.00
18     31.00
19     31.00
20     35.00
21     34.00
22     15.00
23     28.00
24      8.00
25     38.00
26     38.00
27     19.00
28     19.00
29       NaN
30     40.00
31     40.00
32       NaN
33     66.00
34     28.00
35     42.00
36     42.00
37     21.00
38     18.00
39     14.00
40     40.00
41     27.00
42     27.00
43      3.00
44     19.00
45     19.00
46       NaN
47       NaN
48       NaN
49     18.00
50      7.00
51     21.00
52     49.00
53     29.00
54     65.00
55     65.00
56     21.00
57     28.50
58      5.00
59     11.00
60     22.00
61     38.00
62     45.00
63      4.00
64      4.00
65       NaN
66     29.00
67     19.00
68     17.00
69     26.00
70     32.00
71     16.00
72     21.00
73     26.00
74     32.00
75     25.00
76     25.00
77       NaN
78      0.83
79     30.00
80     22.00
81     29.00
82     29.00
83     28.00
84     17.00
85     33.00
86     16.00
87     16.00
88     23.00
89     24.00
90     29.00
91     20.00
92     46.00
93     26.00
94     59.00
95     59.00
96     71.00
97     23.00
98     34.00
99     34.00
100    28.00
101    28.00
102    21.00
103    33.00
104    37.00
105    28.00
106    21.00
107    21.00
108    38.00
109    38.00
110    47.00
111    14.50
112    22.00
113    20.00
114    17.00
115    21.00
116    70.50
117    29.00
118    24.00
119     2.00
120    21.00
121    21.00
122    32.50
123    32.50
124    54.00
125    12.00
126    12.00
127    24.00
128    24.00
129    45.00
130    33.00
131    20.00
132    47.00
133    29.00
134    25.00
135    23.00
136    19.00
137    37.00
138    16.00
139    24.00
140    24.00
141    22.00
142    24.00
143    19.00
144    18.00
145    19.00
146    27.00
147     9.00
148    36.50
149    42.00
150    51.00
151    22.00
152    55.50
153    40.50
154    40.50
155    51.00
156    16.00
157    30.00
158    30.00
159      NaN
160    44.00
161    40.00
162    26.00
163    17.00
164     1.00
165     9.00
166     9.00
167    45.00
168    45.00
169    28.00
170    61.00
171     4.00
172     1.00
173    21.00
174    56.00
175    18.00
176    18.00
177    50.00
178    30.00
179    36.00
180    36.00
181      NaN
182     9.00
183     1.00
184     4.00
185     4.00
186      NaN
187    45.00
188    40.00
189    36.00
190    32.00
191    19.00
192    19.00
193     3.00
194    44.00
195    58.00
196    58.00
197    42.00
198    42.00
199    24.00
200    28.00
201    28.00
202    34.00
203    45.50
204    18.00
205     2.00
206    32.00
207    26.00
208    16.00
209    40.00
210    24.00
211    35.00
212    22.00
213    30.00
214    30.00
215    31.00
216    27.00
217    42.00
218    32.00
219    30.00
220    16.00
221    27.00
222    51.00
223    51.00
224    38.00
225    22.00
226    19.00
227    20.50
228    18.00
229    18.00
230    35.00
231    29.00
232    59.00
233     5.00
234    24.00
235    24.00
236    44.00
237     8.00
238    19.00
239    33.00
240    33.00
241      NaN
242    29.00
243    22.00
244    30.00
245    44.00
246    25.00
247    24.00
248    37.00
249    54.00
250    54.00
251    29.00
252    62.00
253    30.00
254    41.00
255    29.00
256    29.00
257    30.00
258    35.00
259    50.00
260    50.00
261     3.00
262    52.00
263    40.00
264    40.00
265    36.00
266    16.00
267    25.00
268    58.00
269    35.00
270    35.00
271    25.00
272    41.00
273    37.00
274    37.00
275    63.00
276    45.00
277    45.00
278     7.00
279    35.00
280    65.00
281    28.00
282    16.00
283    19.00
284    19.00
285    33.00
286    30.00
287    22.00
288    42.00
289    22.00
290    26.00
291    19.00
292    36.00
293    24.00
294    24.00
295    24.00
296    23.50
297     2.00
298     2.00
299    50.00
300    50.00
301      NaN
302    19.00
303    19.00
304      NaN
305     0.92
306     0.92
307    17.00
308    30.00
309    30.00
310    24.00
311    18.00
312    26.00
313    28.00
314    43.00
315    26.00
316    24.00
317    54.00
318    31.00
319    40.00
320    22.00
321    27.00
322    30.00
323    22.00
324    22.00
325    36.00
326    61.00
327    36.00
328    31.00
329    16.00
330    16.00
331    45.50
332    38.00
333    16.00
334    16.00
335      NaN
336    29.00
337    41.00
338    45.00
339    45.00
340     2.00
341    24.00
342    28.00
343    25.00
344    36.00
345    24.00
346    40.00
347    40.00
348     3.00
349    42.00
350    23.00
351    23.00
352    15.00
353    25.00
354    25.00
355    28.00
356    22.00
357    38.00
358    38.00
359      NaN
360    40.00
361    29.00
362    45.00
363    35.00
364    35.00
365    30.00
366    60.00
367    60.00
368      NaN
369    24.00
370    25.00
371    18.00
372    19.00
373    22.00
374     3.00
375     3.00
376    22.00
377    27.00
378    20.00
379    19.00
380    42.00
381     1.00
382    32.00
383    35.00
384    35.00
385    18.00
386     1.00
387    36.00
388    36.00
389    17.00
390    36.00
391    21.00
392    28.00
393    23.00
394    24.00
395    22.00
396    31.00
397    46.00
398    23.00
399    28.00
400    39.00
401    26.00
402    21.00
403    28.00
404    20.00
405    34.00
406    51.00
407     3.00
408    21.00
409    21.00
410      NaN
411      NaN
412    33.00
413    33.00
414    44.00
415    44.00
416    34.00
417    18.00
418    30.00
419    10.00
420    10.00
421    21.00
422    29.00
423    28.00
424    18.00
425    18.00
426    28.00
427    19.00
428    19.00
429    32.00
430    28.00
431    28.00
432    42.00
433    17.00
434    50.00
435    14.00
436    21.00
437    24.00
438    64.00
439    31.00
440    45.00
441    20.00
442    25.00
443    28.00
444    28.00
445     4.00
446    13.00
447    34.00
448     5.00
449    52.00
450    36.00
451    36.00
452    30.00
453    49.00
454    49.00
455    29.00
456    65.00
457    65.00
458    50.00
459    50.00
460    48.00
461    34.00
462    47.00
463    48.00
464    48.00
465    38.00
466    38.00
467    56.00
468    56.00
469     0.75
470     0.75
471    38.00
472    33.00
473    23.00
474    22.00
475    22.00
476    34.00
477    29.00
478    22.00
479     2.00
480     9.00
481     9.00
482    50.00
483    63.00
484    25.00
485    25.00
486    35.00
487    58.00
488    30.00
489     9.00
490     9.00
491    21.00
492    55.00
493    71.00
494    21.00
495    21.00
496    54.00
497    54.00
498    25.00
499    24.00
500    17.00
501    21.00
502    21.00
503    37.00
504    16.00
505    18.00
506    33.00
507    33.00
508    28.00
509    26.00
510    29.00
511    29.00
512    36.00
513    54.00
514    24.00
515    47.00
516    34.00
517    34.00
518    36.00
519    32.00
520    30.00
521    22.00
522    22.00
523    44.00
524    44.00
525    40.50
526    50.00
527    50.00
528    39.00
529    23.00
530     2.00
531     2.00
532    17.00
533    17.00
534    30.00
535     7.00
536    45.00
537    30.00
538    30.00
539    22.00
540    36.00
541     9.00
542    11.00
543    32.00
544    50.00
545    64.00
546    19.00
547    19.00
548    33.00
549     8.00
550    17.00
551    27.00
552    27.00
553    22.00
554    22.00
555    62.00
556    48.00
557    48.00
558    39.00
559    36.00
560    36.00
561    40.00
562    28.00
563    28.00
564      NaN
565    24.00
566    19.00
567    29.00
568    29.00
569    32.00
570    62.00
571    53.00
572    36.00
573    36.00
574    16.00
575    19.00
576    34.00
577    39.00
578    39.00
579    32.00
580    25.00
581    39.00
582    54.00
583    36.00
584    36.00
585    18.00
586    47.00
587    60.00
588    22.00
589    22.00
590    35.00
591    52.00
592    47.00
593    47.00
594    37.00
595    36.00
596    36.00
597    49.00
598    49.00
599    49.00
600    24.00
601    24.00
602      NaN
603    44.00
604    35.00
605    36.00
606    30.00
607    27.00
608    22.00
609    40.00
610    39.00
611    39.00
612      NaN
613      NaN
614    35.00
615    24.00
616    34.00
617    26.00
618     4.00
619    26.00
620    27.00
621    42.00
622    20.00
623    21.00
624    21.00
625    61.00
626    57.00
627    21.00
628    26.00
629    26.00
630    80.00
631    51.00
632    32.00
633    32.00
634     9.00
635    28.00
636    32.00
637    31.00
638    41.00
639    41.00
640    20.00
641    24.00
642     2.00
643     2.00
644     0.75
645    48.00
646    19.00
647    56.00
648    56.00
649    23.00
650    23.00
651    18.00
652    21.00
653    21.00
654    18.00
655    24.00
656    24.00
657    32.00
658    23.00
659    58.00
660    50.00
661    40.00
662    47.00
663    36.00
664    20.00
665    32.00
666    25.00
667    25.00
668    43.00
669    43.00
670    40.00
671    31.00
672    70.00
673    31.00
674    31.00
675    18.00
676    24.50
677    18.00
678    43.00
679    36.00
680    36.00
681    27.00
682    20.00
683    14.00
684    60.00
685    25.00
686    14.00
687    19.00
688    18.00
689    15.00
690    31.00
691     4.00
692     4.00
693    25.00
694    60.00
695    52.00
696    44.00
697    44.00
698    49.00
699    42.00
700    18.00
701    35.00
702    18.00
703    25.00
704    26.00
705    39.00
706    45.00
707    42.00
708    22.00
709    22.00
710    24.00
711    24.00
712    48.00
713    29.00
714    52.00
715    19.00
716    38.00
717    27.00
718    27.00
719    33.00
720     6.00
721    17.00
722    34.00
723    50.00
724    27.00
725    20.00
726    30.00
727    30.00
728    25.00
729    25.00
730    29.00
731    11.00
732    11.00
733    23.00
734    23.00
735    28.50
736    48.00
737    35.00
738    35.00
739      NaN
740      NaN
741    36.00
742    21.00
743    24.00
744    31.00
745    70.00
746    16.00
747    30.00
748    19.00
749    31.00
750     4.00
751     6.00
752    33.00
753    23.00
754    48.00
755     0.67
756    28.00
757    18.00
758    34.00
759    33.00
760    33.00
761    41.00
762    20.00
763    36.00
764    16.00
765    51.00
766    51.00
767    30.50
768    30.50
769    32.00
770    24.00
771    48.00
772    57.00
773    57.00
774    54.00
775    18.00
776    18.00
777     5.00
778     5.00
779    43.00
780    13.00
781    17.00
782    29.00
783    29.00
784    25.00
785    25.00
786    18.00
787     8.00
788     1.00
789    46.00
790    46.00
791    16.00
792    16.00
793      NaN
794    25.00
795    39.00
796    49.00
797    31.00
798    30.00
799    30.00
800    34.00
801    31.00
802    11.00
803     0.42
804    27.00
805    31.00
806    39.00
807    18.00
808    39.00
809    33.00
810    26.00
811    39.00
812    35.00
813     6.00
814    30.50
815    30.50
816    23.00
817    31.00
818    43.00
819    10.00
820    52.00
821    27.00
822    38.00
823    27.00
824     2.00
825     2.00
826      NaN
827     1.00
828     1.00
829    62.00
830    15.00
831     0.83
832     0.83
833    23.00
834    18.00
835    39.00
836    21.00
837    21.00
838    32.00
839    32.00
840    20.00
841    16.00
842    30.00
843    34.50
844    17.00
845    42.00
846    42.00
847    35.00
848    28.00
849    28.00
850     4.00
851    74.00
852     9.00
853    16.00
854    44.00
855    18.00
856    45.00
857    51.00
858    24.00
859    24.00
860    41.00
861    21.00
862    48.00
863    48.00
864    24.00
865    42.00
866    27.00
867    31.00
868    31.00
869     4.00
870    26.00
871    47.00
872    33.00
873    47.00
874    28.00
875    15.00
876    20.00
877    19.00
878    19.00
879    56.00
880    25.00
881    33.00
882    22.00
883    28.00
884    25.00
885    39.00
886    27.00
887    19.00
888    19.00
889    26.00
890    32.00
Name: age, dtype: float64

In [187]:
df['age'].fillna(method = 'bfill', limit = 1)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    26.0
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [192]:
pd.options.display.max_rows = 60

In [191]:
df['age'].fillna(20, limit = 1)

0      22.00
1      38.00
2      26.00
3      35.00
4      35.00
5      20.00
6      54.00
7       2.00
8      27.00
9      14.00
10      4.00
11     58.00
12     20.00
13     39.00
14     14.00
15     55.00
16      2.00
17       NaN
18     31.00
19       NaN
20     35.00
21     34.00
22     15.00
23     28.00
24      8.00
25     38.00
26       NaN
27     19.00
28       NaN
29       NaN
30     40.00
31       NaN
32       NaN
33     66.00
34     28.00
35     42.00
36       NaN
37     21.00
38     18.00
39     14.00
40     40.00
41     27.00
42       NaN
43      3.00
44     19.00
45       NaN
46       NaN
47       NaN
48       NaN
49     18.00
50      7.00
51     21.00
52     49.00
53     29.00
54     65.00
55       NaN
56     21.00
57     28.50
58      5.00
59     11.00
60     22.00
61     38.00
62     45.00
63      4.00
64       NaN
65       NaN
66     29.00
67     19.00
68     17.00
69     26.00
70     32.00
71     16.00
72     21.00
73     26.00
74     32.00
75     25.00
76       NaN
77       NaN
78      0.83
79     30.00
80     22.00
81     29.00
82       NaN
83     28.00
84     17.00
85     33.00
86     16.00
87       NaN
88     23.00
89     24.00
90     29.00
91     20.00
92     46.00
93     26.00
94     59.00
95       NaN
96     71.00
97     23.00
98     34.00
99     34.00
100    28.00
101      NaN
102    21.00
103    33.00
104    37.00
105    28.00
106    21.00
107      NaN
108    38.00
109      NaN
110    47.00
111    14.50
112    22.00
113    20.00
114    17.00
115    21.00
116    70.50
117    29.00
118    24.00
119     2.00
120    21.00
121      NaN
122    32.50
123    32.50
124    54.00
125    12.00
126      NaN
127    24.00
128      NaN
129    45.00
130    33.00
131    20.00
132    47.00
133    29.00
134    25.00
135    23.00
136    19.00
137    37.00
138    16.00
139    24.00
140      NaN
141    22.00
142    24.00
143    19.00
144    18.00
145    19.00
146    27.00
147     9.00
148    36.50
149    42.00
150    51.00
151    22.00
152    55.50
153    40.50
154      NaN
155    51.00
156    16.00
157    30.00
158      NaN
159      NaN
160    44.00
161    40.00
162    26.00
163    17.00
164     1.00
165     9.00
166      NaN
167    45.00
168      NaN
169    28.00
170    61.00
171     4.00
172     1.00
173    21.00
174    56.00
175    18.00
176      NaN
177    50.00
178    30.00
179    36.00
180      NaN
181      NaN
182     9.00
183     1.00
184     4.00
185      NaN
186      NaN
187    45.00
188    40.00
189    36.00
190    32.00
191    19.00
192    19.00
193     3.00
194    44.00
195    58.00
196      NaN
197    42.00
198      NaN
199    24.00
200    28.00
201      NaN
202    34.00
203    45.50
204    18.00
205     2.00
206    32.00
207    26.00
208    16.00
209    40.00
210    24.00
211    35.00
212    22.00
213    30.00
214      NaN
215    31.00
216    27.00
217    42.00
218    32.00
219    30.00
220    16.00
221    27.00
222    51.00
223      NaN
224    38.00
225    22.00
226    19.00
227    20.50
228    18.00
229      NaN
230    35.00
231    29.00
232    59.00
233     5.00
234    24.00
235      NaN
236    44.00
237     8.00
238    19.00
239    33.00
240      NaN
241      NaN
242    29.00
243    22.00
244    30.00
245    44.00
246    25.00
247    24.00
248    37.00
249    54.00
250      NaN
251    29.00
252    62.00
253    30.00
254    41.00
255    29.00
256      NaN
257    30.00
258    35.00
259    50.00
260      NaN
261     3.00
262    52.00
263    40.00
264      NaN
265    36.00
266    16.00
267    25.00
268    58.00
269    35.00
270      NaN
271    25.00
272    41.00
273    37.00
274      NaN
275    63.00
276    45.00
277      NaN
278     7.00
279    35.00
280    65.00
281    28.00
282    16.00
283    19.00
284      NaN
285    33.00
286    30.00
287    22.00
288    42.00
289    22.00
290    26.00
291    19.00
292    36.00
293    24.00
294    24.00
295      NaN
296    23.50
297     2.00
298      NaN
299    50.00
300      NaN
301      NaN
302    19.00
303      NaN
304      NaN
305     0.92
306      NaN
307    17.00
308    30.00
309    30.00
310    24.00
311    18.00
312    26.00
313    28.00
314    43.00
315    26.00
316    24.00
317    54.00
318    31.00
319    40.00
320    22.00
321    27.00
322    30.00
323    22.00
324      NaN
325    36.00
326    61.00
327    36.00
328    31.00
329    16.00
330      NaN
331    45.50
332    38.00
333    16.00
334      NaN
335      NaN
336    29.00
337    41.00
338    45.00
339    45.00
340     2.00
341    24.00
342    28.00
343    25.00
344    36.00
345    24.00
346    40.00
347      NaN
348     3.00
349    42.00
350    23.00
351      NaN
352    15.00
353    25.00
354      NaN
355    28.00
356    22.00
357    38.00
358      NaN
359      NaN
360    40.00
361    29.00
362    45.00
363    35.00
364      NaN
365    30.00
366    60.00
367      NaN
368      NaN
369    24.00
370    25.00
371    18.00
372    19.00
373    22.00
374     3.00
375      NaN
376    22.00
377    27.00
378    20.00
379    19.00
380    42.00
381     1.00
382    32.00
383    35.00
384      NaN
385    18.00
386     1.00
387    36.00
388      NaN
389    17.00
390    36.00
391    21.00
392    28.00
393    23.00
394    24.00
395    22.00
396    31.00
397    46.00
398    23.00
399    28.00
400    39.00
401    26.00
402    21.00
403    28.00
404    20.00
405    34.00
406    51.00
407     3.00
408    21.00
409      NaN
410      NaN
411      NaN
412    33.00
413      NaN
414    44.00
415      NaN
416    34.00
417    18.00
418    30.00
419    10.00
420      NaN
421    21.00
422    29.00
423    28.00
424    18.00
425      NaN
426    28.00
427    19.00
428      NaN
429    32.00
430    28.00
431      NaN
432    42.00
433    17.00
434    50.00
435    14.00
436    21.00
437    24.00
438    64.00
439    31.00
440    45.00
441    20.00
442    25.00
443    28.00
444      NaN
445     4.00
446    13.00
447    34.00
448     5.00
449    52.00
450    36.00
451      NaN
452    30.00
453    49.00
454      NaN
455    29.00
456    65.00
457      NaN
458    50.00
459      NaN
460    48.00
461    34.00
462    47.00
463    48.00
464      NaN
465    38.00
466      NaN
467    56.00
468      NaN
469     0.75
470      NaN
471    38.00
472    33.00
473    23.00
474    22.00
475      NaN
476    34.00
477    29.00
478    22.00
479     2.00
480     9.00
481      NaN
482    50.00
483    63.00
484    25.00
485      NaN
486    35.00
487    58.00
488    30.00
489     9.00
490      NaN
491    21.00
492    55.00
493    71.00
494    21.00
495      NaN
496    54.00
497      NaN
498    25.00
499    24.00
500    17.00
501    21.00
502      NaN
503    37.00
504    16.00
505    18.00
506    33.00
507      NaN
508    28.00
509    26.00
510    29.00
511      NaN
512    36.00
513    54.00
514    24.00
515    47.00
516    34.00
517      NaN
518    36.00
519    32.00
520    30.00
521    22.00
522      NaN
523    44.00
524      NaN
525    40.50
526    50.00
527      NaN
528    39.00
529    23.00
530     2.00
531      NaN
532    17.00
533      NaN
534    30.00
535     7.00
536    45.00
537    30.00
538      NaN
539    22.00
540    36.00
541     9.00
542    11.00
543    32.00
544    50.00
545    64.00
546    19.00
547      NaN
548    33.00
549     8.00
550    17.00
551    27.00
552      NaN
553    22.00
554    22.00
555    62.00
556    48.00
557      NaN
558    39.00
559    36.00
560      NaN
561    40.00
562    28.00
563      NaN
564      NaN
565    24.00
566    19.00
567    29.00
568      NaN
569    32.00
570    62.00
571    53.00
572    36.00
573      NaN
574    16.00
575    19.00
576    34.00
577    39.00
578      NaN
579    32.00
580    25.00
581    39.00
582    54.00
583    36.00
584      NaN
585    18.00
586    47.00
587    60.00
588    22.00
589      NaN
590    35.00
591    52.00
592    47.00
593      NaN
594    37.00
595    36.00
596      NaN
597    49.00
598      NaN
599    49.00
600    24.00
601      NaN
602      NaN
603    44.00
604    35.00
605    36.00
606    30.00
607    27.00
608    22.00
609    40.00
610    39.00
611      NaN
612      NaN
613      NaN
614    35.00
615    24.00
616    34.00
617    26.00
618     4.00
619    26.00
620    27.00
621    42.00
622    20.00
623    21.00
624    21.00
625    61.00
626    57.00
627    21.00
628    26.00
629      NaN
630    80.00
631    51.00
632    32.00
633      NaN
634     9.00
635    28.00
636    32.00
637    31.00
638    41.00
639      NaN
640    20.00
641    24.00
642     2.00
643      NaN
644     0.75
645    48.00
646    19.00
647    56.00
648      NaN
649    23.00
650      NaN
651    18.00
652    21.00
653      NaN
654    18.00
655    24.00
656      NaN
657    32.00
658    23.00
659    58.00
660    50.00
661    40.00
662    47.00
663    36.00
664    20.00
665    32.00
666    25.00
667      NaN
668    43.00
669      NaN
670    40.00
671    31.00
672    70.00
673    31.00
674      NaN
675    18.00
676    24.50
677    18.00
678    43.00
679    36.00
680      NaN
681    27.00
682    20.00
683    14.00
684    60.00
685    25.00
686    14.00
687    19.00
688    18.00
689    15.00
690    31.00
691     4.00
692      NaN
693    25.00
694    60.00
695    52.00
696    44.00
697      NaN
698    49.00
699    42.00
700    18.00
701    35.00
702    18.00
703    25.00
704    26.00
705    39.00
706    45.00
707    42.00
708    22.00
709      NaN
710    24.00
711      NaN
712    48.00
713    29.00
714    52.00
715    19.00
716    38.00
717    27.00
718      NaN
719    33.00
720     6.00
721    17.00
722    34.00
723    50.00
724    27.00
725    20.00
726    30.00
727      NaN
728    25.00
729    25.00
730    29.00
731    11.00
732      NaN
733    23.00
734    23.00
735    28.50
736    48.00
737    35.00
738      NaN
739      NaN
740      NaN
741    36.00
742    21.00
743    24.00
744    31.00
745    70.00
746    16.00
747    30.00
748    19.00
749    31.00
750     4.00
751     6.00
752    33.00
753    23.00
754    48.00
755     0.67
756    28.00
757    18.00
758    34.00
759    33.00
760      NaN
761    41.00
762    20.00
763    36.00
764    16.00
765    51.00
766      NaN
767    30.50
768      NaN
769    32.00
770    24.00
771    48.00
772    57.00
773      NaN
774    54.00
775    18.00
776      NaN
777     5.00
778      NaN
779    43.00
780    13.00
781    17.00
782    29.00
783      NaN
784    25.00
785    25.00
786    18.00
787     8.00
788     1.00
789    46.00
790      NaN
791    16.00
792      NaN
793      NaN
794    25.00
795    39.00
796    49.00
797    31.00
798    30.00
799    30.00
800    34.00
801    31.00
802    11.00
803     0.42
804    27.00
805    31.00
806    39.00
807    18.00
808    39.00
809    33.00
810    26.00
811    39.00
812    35.00
813     6.00
814    30.50
815      NaN
816    23.00
817    31.00
818    43.00
819    10.00
820    52.00
821    27.00
822    38.00
823    27.00
824     2.00
825      NaN
826      NaN
827     1.00
828      NaN
829    62.00
830    15.00
831     0.83
832      NaN
833    23.00
834    18.00
835    39.00
836    21.00
837      NaN
838    32.00
839      NaN
840    20.00
841    16.00
842    30.00
843    34.50
844    17.00
845    42.00
846      NaN
847    35.00
848    28.00
849      NaN
850     4.00
851    74.00
852     9.00
853    16.00
854    44.00
855    18.00
856    45.00
857    51.00
858    24.00
859      NaN
860    41.00
861    21.00
862    48.00
863      NaN
864    24.00
865    42.00
866    27.00
867    31.00
868      NaN
869     4.00
870    26.00
871    47.00
872    33.00
873    47.00
874    28.00
875    15.00
876    20.00
877    19.00
878      NaN
879    56.00
880    25.00
881    33.00
882    22.00
883    28.00
884    25.00
885    39.00
886    27.00
887    19.00
888      NaN
889    26.00
890    32.00
Name: age, dtype: float64

In [193]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [195]:
## Deleting columns from dataframe
df.drop(['fare'], axis=1)

     survived  pclass     sex   age  sibsp  parch embarked deck
0           0       3    male  22.0      1      0        S  NaN
1           1       1  female  38.0      1      0        C    C
2           1       3  female  26.0      0      0        S  NaN
3           1       1  female  35.0      1      0        S    C
4           0       3    male  35.0      0      0        S  NaN
..        ...     ...     ...   ...    ...    ...      ...  ...
886         0       2    male  27.0      0      0        S  NaN
887         1       1  female  19.0      0      0        S    B
888         0       3  female   NaN      1      2        S  NaN
889         1       1    male  26.0      0      0        C    C
890         0       3    male  32.0      0      0        Q  NaN

[891 rows x 8 columns]

In [196]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [197]:
df.drop(['fare'],axis = 0)

KeyError: "['fare'] not found in axis"

In [198]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [200]:
df.drop(df.columns[[0,6]], axis = 1)

     pclass     sex   age  sibsp  parch embarked deck
0         3    male  22.0      1      0        S  NaN
1         1  female  38.0      1      0        C    C
2         3  female  26.0      0      0        S  NaN
3         1  female  35.0      1      0        S    C
4         3    male  35.0      0      0        S  NaN
..      ...     ...   ...    ...    ...      ...  ...
886       2    male  27.0      0      0        S  NaN
887       1  female  19.0      0      0        S    B
888       3  female   NaN      1      2        S  NaN
889       1    male  26.0      0      0        C    C
890       3    male  32.0      0      0        Q  NaN

[891 rows x 7 columns]

In [201]:
for i in df.age:
    print(i)

22.0
38.0
26.0
35.0
35.0
nan
54.0
2.0
27.0
14.0
4.0
58.0
20.0
39.0
14.0
55.0
2.0
nan
31.0
nan
35.0
34.0
15.0
28.0
8.0
38.0
nan
19.0
nan
nan
40.0
nan
nan
66.0
28.0
42.0
nan
21.0
18.0
14.0
40.0
27.0
nan
3.0
19.0
nan
nan
nan
nan
18.0
7.0
21.0
49.0
29.0
65.0
nan
21.0
28.5
5.0
11.0
22.0
38.0
45.0
4.0
nan
nan
29.0
19.0
17.0
26.0
32.0
16.0
21.0
26.0
32.0
25.0
nan
nan
0.83
30.0
22.0
29.0
nan
28.0
17.0
33.0
16.0
nan
23.0
24.0
29.0
20.0
46.0
26.0
59.0
nan
71.0
23.0
34.0
34.0
28.0
nan
21.0
33.0
37.0
28.0
21.0
nan
38.0
nan
47.0
14.5
22.0
20.0
17.0
21.0
70.5
29.0
24.0
2.0
21.0
nan
32.5
32.5
54.0
12.0
nan
24.0
nan
45.0
33.0
20.0
47.0
29.0
25.0
23.0
19.0
37.0
16.0
24.0
nan
22.0
24.0
19.0
18.0
19.0
27.0
9.0
36.5
42.0
51.0
22.0
55.5
40.5
nan
51.0
16.0
30.0
nan
nan
44.0
40.0
26.0
17.0
1.0
9.0
nan
45.0
nan
28.0
61.0
4.0
1.0
21.0
56.0
18.0
nan
50.0
30.0
36.0
nan
nan
9.0
1.0
4.0
nan
nan
45.0
40.0
36.0
32.0
19.0
19.0
3.0
44.0
58.0
nan
42.0
nan
24.0
28.0
nan
34.0
45.5
18.0
2.0
32.0
26.0
16.0
40.0
24.0
35.0
22.0
30.0
nan
31.0
27.0
42.0
32.0
30.0
16.0
27.0
51.0
nan
38.0
22.0
19.0
20.5
18.0
nan
35.0
29.0
59.0
5.0
24.0
nan
44.0
8.0
19.0
33.0
nan
nan
29.0
22.0
30.0
44.0
25.0
24.0
37.0
54.0
nan
29.0
62.0
30.0
41.0
29.0
nan
30.0
35.0
50.0
nan
3.0
52.0
40.0
nan
36.0
16.0
25.0
58.0
35.0
nan
25.0
41.0
37.0
nan
63.0
45.0
nan
7.0
35.0
65.0
28.0
16.0
19.0
nan
33.0
30.0
22.0
42.0
22.0
26.0
19.0
36.0
24.0
24.0
nan
23.5
2.0
nan
50.0
nan
nan
19.0
nan
nan
0.92
nan
17.0
30.0
30.0
24.0
18.0
26.0
28.0
43.0
26.0
24.0
54.0
31.0
40.0
22.0
27.0
30.0
22.0
nan
36.0
61.0
36.0
31.0
16.0
nan
45.5
38.0
16.0
nan
nan
29.0
41.0
45.0
45.0
2.0
24.0
28.0
25.0
36.0
24.0
40.0
nan
3.0
42.0
23.0
nan
15.0
25.0
nan
28.0
22.0
38.0
nan
nan
40.0
29.0
45.0
35.0
nan
30.0
60.0
nan
nan
24.0
25.0
18.0
19.0
22.0
3.0
nan
22.0
27.0
20.0
19.0
42.0
1.0
32.0
35.0
nan
18.0
1.0
36.0
nan
17.0
36.0
21.0
28.0
23.0
24.0
22.0
31.0
46.0
23.0
28.0
39.0
26.0
21.0
28.0
20.0
34.0
51.0
3.0
21.0
nan
nan
nan
33.0
nan
44.0
nan
34.0
18.0
30.0
10.0
nan
21.0
29.0
28.0
18.0
nan
28.0
19.0
nan
32.0
28.0
nan
42.0
17.0
50.0
14.0
21.0
24.0
64.0
31.0
45.0
20.0
25.0
28.0
nan
4.0
13.0
34.0
5.0
52.0
36.0
nan
30.0
49.0
nan
29.0
65.0
nan
50.0
nan
48.0
34.0
47.0
48.0
nan
38.0
nan
56.0
nan
0.75
nan
38.0
33.0
23.0
22.0
nan
34.0
29.0
22.0
2.0
9.0
nan
50.0
63.0
25.0
nan
35.0
58.0
30.0
9.0
nan
21.0
55.0
71.0
21.0
nan
54.0
nan
25.0
24.0
17.0
21.0
nan
37.0
16.0
18.0
33.0
nan
28.0
26.0
29.0
nan
36.0
54.0
24.0
47.0
34.0
nan
36.0
32.0
30.0
22.0
nan
44.0
nan
40.5
50.0
nan
39.0
23.0
2.0
nan
17.0
nan
30.0
7.0
45.0
30.0
nan
22.0
36.0
9.0
11.0
32.0
50.0
64.0
19.0
nan
33.0
8.0
17.0
27.0
nan
22.0
22.0
62.0
48.0
nan
39.0
36.0
nan
40.0
28.0
nan
nan
24.0
19.0
29.0
nan
32.0
62.0
53.0
36.0
nan
16.0
19.0
34.0
39.0
nan
32.0
25.0
39.0
54.0
36.0
nan
18.0
47.0
60.0
22.0
nan
35.0
52.0
47.0
nan
37.0
36.0
nan
49.0
nan
49.0
24.0
nan
nan
44.0
35.0
36.0
30.0
27.0
22.0
40.0
39.0
nan
nan
nan
35.0
24.0
34.0
26.0
4.0
26.0
27.0
42.0
20.0
21.0
21.0
61.0
57.0
21.0
26.0
nan
80.0
51.0
32.0
nan
9.0
28.0
32.0
31.0
41.0
nan
20.0
24.0
2.0
nan
0.75
48.0
19.0
56.0
nan
23.0
nan
18.0
21.0
nan
18.0
24.0
nan
32.0
23.0
58.0
50.0
40.0
47.0
36.0
20.0
32.0
25.0
nan
43.0
nan
40.0
31.0
70.0
31.0
nan
18.0
24.5
18.0
43.0
36.0
nan
27.0
20.0
14.0
60.0
25.0
14.0
19.0
18.0
15.0
31.0
4.0
nan
25.0
60.0
52.0
44.0
nan
49.0
42.0
18.0
35.0
18.0
25.0
26.0
39.0
45.0
42.0
22.0
nan
24.0
nan
48.0
29.0
52.0
19.0
38.0
27.0
nan
33.0
6.0
17.0
34.0
50.0
27.0
20.0
30.0
nan
25.0
25.0
29.0
11.0
nan
23.0
23.0
28.5
48.0
35.0
nan
nan
nan
36.0
21.0
24.0
31.0
70.0
16.0
30.0
19.0
31.0
4.0
6.0
33.0
23.0
48.0
0.67
28.0
18.0
34.0
33.0
nan
41.0
20.0
36.0
16.0
51.0
nan
30.5
nan
32.0
24.0
48.0
57.0
nan
54.0
18.0
nan
5.0
nan
43.0
13.0
17.0
29.0
nan
25.0
25.0
18.0
8.0
1.0
46.0
nan
16.0
nan
nan
25.0
39.0
49.0
31.0
30.0
30.0
34.0
31.0
11.0
0.42
27.0
31.0
39.0
18.0
39.0
33.0
26.0
39.0
35.0
6.0
30.5
nan
23.0
31.0
43.0
10.0
52.0
27.0
38.0
27.0
2.0
nan
nan
1.0
nan
62.0
15.0
0.83
nan
23.0
18.0
39.0
21.0
nan
32.0
nan
20.0
16.0
30.0
34.5
17.0
42.0
nan
35.0
28.0
nan
4.0
74.0
9.0
16.0
44.0
18.0
45.0
51.0
24.0
nan
41.0
21.0
48.0
nan
24.0
42.0
27.0
31.0
nan
4.0
26.0
47.0
33.0
47.0
28.0
15.0
20.0
19.0
nan
56.0
25.0
33.0
22.0
28.0
25.0
39.0
27.0
19.0
nan
26.0
32.0

In [203]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [208]:
df[['pclass','fare', 'deck','sex']]

     pclass     fare deck     sex
0         3   7.2500  NaN    male
1         1  71.2833    C  female
2         3   7.9250  NaN  female
3         1  53.1000    C  female
4         3   8.0500  NaN    male
..      ...      ...  ...     ...
886       2  13.0000  NaN    male
887       1  30.0000    B  female
888       3  23.4500  NaN  female
889       1  30.0000    C    male
890       3   7.7500  NaN    male

[891 rows x 4 columns]

In [207]:
x = [1,2,4,4,5,6,7,8]

In [209]:
x = 10,20,30

In [210]:
x

(10, 20, 30)

In [212]:
df[['pclass','fare', 'deck','sex']]

     pclass     fare deck     sex
0         3   7.2500  NaN    male
1         1  71.2833    C  female
2         3   7.9250  NaN  female
3         1  53.1000    C  female
4         3   8.0500  NaN    male
..      ...      ...  ...     ...
886       2  13.0000  NaN    male
887       1  30.0000    B  female
888       3  23.4500  NaN  female
889       1  30.0000    C    male
890       3   7.7500  NaN    male

[891 rows x 4 columns]

In [214]:
##Rows and Columns - iloc and loc(pandas)

In [217]:
df.head(20)

    survived  pclass     sex   age  sibsp  parch     fare embarked deck
0          0       3    male  22.0      1      0   7.2500        S  NaN
1          1       1  female  38.0      1      0  71.2833        C    C
2          1       3  female  26.0      0      0   7.9250        S  NaN
3          1       1  female  35.0      1      0  53.1000        S    C
4          0       3    male  35.0      0      0   8.0500        S  NaN
5          0       3    male   NaN      0      0   8.4583        Q  NaN
6          0       1    male  54.0      0      0  51.8625        S    E
7          0       3    male   2.0      3      1  21.0750        S  NaN
8          1       3  female  27.0      0      2  11.1333        S  NaN
9          1       2  female  14.0      1      0  30.0708        C  NaN
10         1       3  female   4.0      1      1  16.7000        S    G
11         1       1  female  58.0      0      0  26.5500        S    C
12         0       3    male  20.0      0      0   8.0500        S  NaN
13         0       3    male  39.0      1      5  31.2750        S  NaN
14         0       3  female  14.0      0      0   7.8542        S  NaN
15         1       2  female  55.0      0      0  16.0000        S  NaN
16         0       3    male   2.0      4      1  29.1250        Q  NaN
17         1       2    male   NaN      0      0  13.0000        S  NaN
18         0       3  female  31.0      1      0  18.0000        S  NaN
19         1       3  female   NaN      0      0   7.2250        C  NaN

In [218]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [219]:
df.iloc[10:30,[0,1,3]]

    survived  pclass   age
10         1       3   4.0
11         1       1  58.0
12         0       3  20.0
13         0       3  39.0
14         0       3  14.0
15         1       2  55.0
16         0       3   2.0
17         1       2   NaN
18         0       3  31.0
19         1       3   NaN
20         0       2  35.0
21         1       2  34.0
22         1       3  15.0
23         1       1  28.0
24         0       3   8.0
25         1       3  38.0
26         0       3   NaN
27         0       1  19.0
28         1       3   NaN
29         0       3   NaN

In [224]:
df.iloc[10:30,0:5]

    survived  pclass     sex   age  sibsp
10         1       3  female   4.0      1
11         1       1  female  58.0      0
12         0       3    male  20.0      0
13         0       3    male  39.0      1
14         0       3  female  14.0      0
15         1       2  female  55.0      0
16         0       3    male   2.0      4
17         1       2    male   NaN      0
18         0       3  female  31.0      1
19         1       3  female   NaN      0
20         0       2    male  35.0      0
21         1       2    male  34.0      0
22         1       3  female  15.0      0
23         1       1    male  28.0      0
24         0       3  female   8.0      3
25         1       3  female  38.0      1
26         0       3    male   NaN      0
27         0       1    male  19.0      3
28         1       3  female   NaN      0
29         0       3    male   NaN      0

In [220]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [221]:
df.iloc[10:30,['survived','pclass','age']]

IndexError: .iloc requires numeric indexers, got ['survived' 'pclass' 'age']

In [222]:
df.loc[10:30,['survived','pclass','age']]

    survived  pclass   age
10         1       3   4.0
11         1       1  58.0
12         0       3  20.0
13         0       3  39.0
14         0       3  14.0
15         1       2  55.0
16         0       3   2.0
17         1       2   NaN
18         0       3  31.0
19         1       3   NaN
20         0       2  35.0
21         1       2  34.0
22         1       3  15.0
23         1       1  28.0
24         0       3   8.0
25         1       3  38.0
26         0       3   NaN
27         0       1  19.0
28         1       3   NaN
29         0       3   NaN
30         0       1  40.0

In [226]:
df.iloc[:,0:4]

     survived  pclass     sex   age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

In [227]:
df.iloc[5:,0:4]

     survived  pclass     sex   age
5           0       3    male   NaN
6           0       1    male  54.0
7           0       3    male   2.0
8           1       3  female  27.0
9           1       2  female  14.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[886 rows x 4 columns]

In [228]:
df.iloc[0:10]

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN
5         0       3    male   NaN      0      0   8.4583        Q  NaN
6         0       1    male  54.0      0      0  51.8625        S    E
7         0       3    male   2.0      3      1  21.0750        S  NaN
8         1       3  female  27.0      0      2  11.1333        S  NaN
9         1       2  female  14.0      1      0  30.0708        C  NaN

In [229]:
df.iloc[:10,0:4]

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0
5         0       3    male   NaN
6         0       1    male  54.0
7         0       3    male   2.0
8         1       3  female  27.0
9         1       2  female  14.0

In [230]:
df.iloc[:10,3:]

    age  sibsp  parch     fare embarked deck
0  22.0      1      0   7.2500        S  NaN
1  38.0      1      0  71.2833        C    C
2  26.0      0      0   7.9250        S  NaN
3  35.0      1      0  53.1000        S    C
4  35.0      0      0   8.0500        S  NaN
5   NaN      0      0   8.4583        Q  NaN
6  54.0      0      0  51.8625        S    E
7   2.0      3      1  21.0750        S  NaN
8  27.0      0      2  11.1333        S  NaN
9  14.0      1      0  30.0708        C  NaN

In [231]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [234]:
## Sorting the data
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [235]:
df.sort_values(by = 'fare')

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
271         1       3    male  25.0      0      0    0.0000        S  NaN
597         0       3    male  49.0      0      0    0.0000        S  NaN
302         0       3    male  19.0      0      0    0.0000        S  NaN
633         0       1    male   NaN      0      0    0.0000        S  NaN
277         0       2    male   NaN      0      0    0.0000        S  NaN
..        ...     ...     ...   ...    ...    ...       ...      ...  ...
438         0       1    male  64.0      1      4  263.0000        S    C
341         1       1  female  24.0      3      2  263.0000        S    C
737         1       1    male  35.0      0      0  512.3292        C    B
258         1       1  female  35.0      0      0  512.3292        C  NaN
679         1       1    male  36.0      0      1  512.3292        C    B

[891 rows x 9 columns]

In [242]:
df.sort_values(by = ['pclass','sex','age'])

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
297         0       1  female   2.00      1      2  151.5500        S    C
435         1       1  female  14.00      1      2  120.0000        S    B
689         1       1  female  15.00      0      1  211.3375        S    B
329         1       1  female  16.00      0      1   57.9792        C    B
504         1       1  female  16.00      0      0   86.5000        S    B
853         1       1  female  16.00      0      1   39.4000        S    D
307         1       1  female  17.00      1      0  108.9000        C    C
781         1       1  female  17.00      1      0   57.0000        S    B
311         1       1  female  18.00      2      2  262.3750        C    B
585         1       1  female  18.00      0      2   79.6500        S    E
700         1       1  female  18.00      1      0  227.5250        C    C
136         1       1  female  19.00      0      2   26.2833        S    D
291         1       1  female  19.00      1      0   91.0792        C    B
887         1       1  female  19.00      0      0   30.0000        S    B
627         1       1  female  21.00      0      0   77.9583        S    D
742         1       1  female  21.00      2      2  262.3750        C    B
151         1       1  female  22.00      1      0   66.6000        S    C
356         1       1  female  22.00      0      1   55.0000        S    E
539         1       1  female  22.00      0      2   49.5000        C    B
708         1       1  female  22.00      0      0  151.5500        S  NaN
88          1       1  female  23.00      3      2  263.0000        S    C
393         1       1  female  23.00      1      0  113.2750        C    D
310         1       1  female  24.00      0      0   83.1583        C    C
341         1       1  female  24.00      3      2  263.0000        S    C
369         1       1  female  24.00      0      0   69.3000        C    B
641         1       1  female  24.00      0      0   69.3000        C    B
710         1       1  female  24.00      0      0   49.5042        C    C
498         0       1  female  25.00      1      2  151.5500        S    C
290         1       1  female  26.00      0      0   78.8500        S  NaN
730         1       1  female  29.00      0      0  211.3375        S    B
257         1       1  female  30.00      0      0   86.5000        S    B
309         1       1  female  30.00      0      0   56.9292        C    E
520         1       1  female  30.00      0      0   93.5000        S    B
537         1       1  female  30.00      0      0  106.4250        C  NaN
842         1       1  female  30.00      0      0   31.0000        C  NaN
215         1       1  female  31.00      1      0  113.2750        C    D
318         1       1  female  31.00      0      2  164.8667        S    C
218         1       1  female  32.00      0      0   76.2917        C    D
412         1       1  female  33.00      1      0   90.0000        Q    C
759         1       1  female  33.00      0      0   86.5000        S    B
809         1       1  female  33.00      1      0   53.1000        S    E
3           1       1  female  35.00      1      0   53.1000        S    C
230         1       1  female  35.00      1      0   83.4750        S    C
258         1       1  female  35.00      0      0  512.3292        C  NaN
269         1       1  female  35.00      0      0  135.6333        S    C
383         1       1  female  35.00      1      0   52.0000        S  NaN
486         1       1  female  35.00      1      0   90.0000        S    C
325         1       1  female  36.00      0      0  135.6333        C    C
540         1       1  female  36.00      0      2   71.0000        S    B
763         1       1  female  36.00      1      2  120.0000        S    B
1           1       1  female  38.00      1      0   71.2833        C    C
61          1       1  female  38.00      0      0   80.0000      NaN    B
716         1       1  female  38.00      0      0  227.5250        C    C
558         1       1  female  39.00      1      1   79.6500        S    E
577         1       1  female  39.00      1      0   55.9000        S    E
581         1       1  female  39.00      1      1  110.8833        C    C
835         1       1  female  39.00      1      1   83.1583        C    E
319         1       1  female  40.00      1      1  134.5000        C    E
609         1       1  female  40.00      0      0  153.4625        S    C
337         1       1  female  41.00      0      0  134.5000        C    E
380         1       1  female  42.00      0      0  227.5250        C  NaN
779         1       1  female  43.00      0      1  211.3375        S    B
194         1       1  female  44.00      0      0   27.7208        C    B
523         1       1  female  44.00      0      1   57.9792        C    B
856         1       1  female  45.00      1      1  164.8667        S  NaN
871         1       1  female  47.00      1      1   52.5542        S    D
556         1       1  female  48.00      1      0   39.6000        C    A
862         1       1  female  48.00      0      0   25.9292        S    D
52          1       1  female  49.00      1      0   76.7292        C    D
796         1       1  female  49.00      0      0   25.9292        S    D
177         0       1  female  50.00      0      0   28.7125        C    C
299         1       1  female  50.00      0      1  247.5208        C    B
765         1       1  female  51.00      1      0   77.9583        S    D
591         1       1  female  52.00      1      0   78.2667        C    D
820         1       1  female  52.00      1      1   93.5000        S    B
571         1       1  female  53.00      2      0   51.4792        S    C
496         1       1  female  54.00      1      0   78.2667        C    D
513         1       1  female  54.00      1      0   59.4000        C  NaN
879         1       1  female  56.00      0      1   83.1583        C    C
11          1       1  female  58.00      0      0   26.5500        S    C
195         1       1  female  58.00      0      0  146.5208        C    B
268         1       1  female  58.00      0      1  153.4625        S    C
366         1       1  female  60.00      1      0   75.2500        C    D
829         1       1  female  62.00      0      0   80.0000      NaN    B
275         1       1  female  63.00      1      0   77.9583        S    D
31          1       1  female    NaN      1      0  146.5208        C    B
166         1       1  female    NaN      0      1   55.0000        S    E
256         1       1  female    NaN      0      0   79.2000        C  NaN
306         1       1  female    NaN      0      0  110.8833        C  NaN
334         1       1  female    NaN      1      0  133.6500        S  NaN
375         1       1  female    NaN      1      0   82.1708        C  NaN
457         1       1  female    NaN      1      0   51.8625        S    D
669         1       1  female    NaN      1      0   52.0000        S    C
849         1       1  female    NaN      1      0   89.1042        C    C
305         1       1    male   0.92      1      2  151.5500        S    C
445         1       1    male   4.00      0      2   81.8583        S    A
802         1       1    male  11.00      1      2  120.0000        S    B
550         1       1    male  17.00      0      2  110.8833        C    C
505         0       1    male  18.00      1      0  108.9000        C    C
27          0       1    male  19.00      3      2  263.0000        S    C
748         0       1    male  19.00      1      0   53.1000        S    D
102         0       1    male  21.00      0      1   77.2875        S    D
373         0       1    male  22.00      0      0  135.6333        C  NaN
97          1       1    male  23.00      0      1   63.3583        C    D
118         0       1    male  24.00      0      1  247.5208        C    B
139         0       1    male  24.00      0      0   79.2000        C    B
370         1       1    male  25.00      1      0   55.4417        C    E
484         1       1    male  25.00      1      0   91.0792        C    B
889         1       1    male  26.00      0      0   30.0000        C    C
377         0       1    male  27.00      0      2  211.5000        C    C
607         1       1    male  27.00      0      0   30.5000        S  NaN
681         1       1    male  27.00      0      0   76.7292        C    D
724         1       1    male  27.00      1      0   53.1000        S    E
23          1       1    male  28.00      0      0   35.5000        S    A
34          0       1    male  28.00      1      0   82.1708        C  NaN
83          0       1    male  28.00      0      0   47.1000        S  NaN
430         1       1    male  28.00      0      0   26.5500        S    C
336         0       1    male  29.00      1      0   66.6000        S    C
782         0       1    male  29.00      0      0   30.0000        S    D
452         0       1    male  30.00      0      0   27.7500        C    C
671         0       1    male  31.00      1      0   52.0000        S    B
690         1       1    male  31.00      1      0   57.0000        S    B
867         0       1    male  31.00      0      0   50.4958        S    A
632         1       1    male  32.00      0      0   30.5000        C    B
872         0       1    male  33.00      0      0    5.0000        S    B
447         1       1    male  34.00      0      0   26.5500        S  NaN
604         1       1    male  35.00      0      0   26.5500        C  NaN
701         1       1    male  35.00      0      0   26.2875        S    E
737         1       1    male  35.00      0      0  512.3292        C    B
390         1       1    male  36.00      1      2  120.0000        S    B
512         1       1    male  36.00      0      0   26.2875        S    E
572         1       1    male  36.00      0      0   26.3875        S    E
583         0       1    male  36.00      0      0   40.1250        C    A
679         1       1    male  36.00      0      1  512.3292        C    B
741         0       1    male  36.00      1      0   78.8500        S    C
137         0       1    male  37.00      1      0   53.1000        S    C
248         1       1    male  37.00      1      1   52.5542        S    D
273         0       1    male  37.00      0      1   29.7000        C    C
224         1       1    male  38.00      1      0   90.0000        S    C
332         0       1    male  38.00      0      1  153.4625        S    C
822         0       1    male  38.00      0      0    0.0000        S  NaN
806         0       1    male  39.00      0      0    0.0000        S    A
30          0       1    male  40.00      0      0   27.7208        C  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
263         0       1    male  40.00      0      0    0.0000        S    B
35          0       1    male  42.00      1      0   52.0000        S  NaN
621         1       1    male  42.00      1      0   52.5542        S    D
707         1       1    male  42.00      0      0   26.2875        S    E
245         0       1    male  44.00      2      0   90.0000        Q    C
62          0       1    male  45.00      1      0   83.4750        S    C
187         1       1    male  45.00      0      0   26.5500        S  NaN
339         0       1    male  45.00      0      0   35.5000        S  NaN
536         0       1    male  45.00      0      0   26.5500        S    B
331         0       1    male  45.50      0      0   28.5000        S    C
92          0       1    male  46.00      1      0   61.1750        S    E
789         0       1    male  46.00      0      0   79.2000        C    B
110         0       1    male  47.00      0      0   52.0000        S    C
462         0       1    male  47.00      0      0   38.5000        S    E
515         0       1    male  47.00      0      0   34.0208        S    D
662         0       1    male  47.00      0      0   25.5875        S    E
460         1       1    male  48.00      0      0   26.5500        S    E
645         1       1    male  48.00      1      0   76.7292        C    D
712         1       1    male  48.00      1      0   52.0000        S    C
453         1       1    male  49.00      1      0   89.1042        C    C
599         1       1    male  49.00      1      0   56.9292        C    A
698         0       1    male  49.00      1      1  110.8833        C    C
434         0       1    male  50.00      1      0   55.9000        S    E
544         0       1    male  50.00      1      0  106.4250        C    C
660         1       1    male  50.00      2      0  133.6500        S  NaN
155         0       1    male  51.00      0      1   61.3792        C  NaN
857         1       1    male  51.00      0      0   26.5500        S    E
262         0       1    male  52.00      1      1   79.6500        S    E
449         1       1    male  52.00      0      0   30.5000        S    C
6           0       1    male  54.00      0      0   51.8625        S    E
124         0       1    male  54.00      0      1   77.2875        S    D
492         0       1    male  55.00      0      0   30.5000        S    C
174         0       1    male  56.00      0      0   30.6958        C    A
467         0       1    male  56.00      0      0   26.5500        S  NaN
647         1       1    male  56.00      0      0   35.5000        C    A
487         0       1    male  58.00      0      0   29.7000        C    B
659         0       1    male  58.00      0      2  113.2750        C    D
587         1       1    male  60.00      1      1   79.2000        C    B
694         0       1    male  60.00      0      0   26.5500        S  NaN
170         0       1    male  61.00      0      0   33.5000        S    B
625         0       1    male  61.00      0      0   32.3208        S    D
252         0       1    male  62.00      0      0   26.5500        S    C
555         0       1    male  62.00      0      0   26.5500        S  NaN
438         0       1    male  64.00      1      4  263.0000        S    C
545         0       1    male  64.00      0      0   26.0000        S  NaN
54          0       1    male  65.00      0      1   61.9792        C    B
456         0       1    male  65.00      0      0   26.5500        S    E
745         0       1    male  70.00      1      1   71.0000        S    B
96          0       1    male  71.00      0      0   34.6542        C    A
493         0       1    male  71.00      0      0   49.5042        C  NaN
630         1       1    male  80.00      0      0   30.0000        S    A
55          1       1    male    NaN      0      0   35.5000        S    C
64          0       1    male    NaN      0      0   27.7208        C  NaN
168         0       1    male    NaN      0      0   25.9250        S  NaN
185         0       1    male    NaN      0      0   50.0000        S    A
270         0       1    male    NaN      0      0   31.0000        S  NaN
284         0       1    male    NaN      0      0   26.0000        S    A
295         0       1    male    NaN      0      0   27.7208        C  NaN
298         1       1    male    NaN      0      0   30.5000        S    C
351         0       1    male    NaN      0      0   35.0000        S    C
475         0       1    male    NaN      0      0   52.0000        S    A
507         1       1    male    NaN      0      0   26.5500        S  NaN
527         0       1    male    NaN      0      0  221.7792        S    C
557         0       1    male    NaN      0      0  227.5250        C  NaN
602         0       1    male    NaN      0      0   42.4000        S  NaN
633         0       1    male    NaN      0      0    0.0000        S  NaN
711         0       1    male    NaN      0      0   26.5500        S    C
740         1       1    male    NaN      0      0   30.0000        S    D
766         0       1    male    NaN      0      0   39.6000        C  NaN
793         0       1    male    NaN      0      0   30.6958        C  NaN
815         0       1    male    NaN      0      0    0.0000        S    B
839         1       1    male    NaN      0      0   29.7000        C    C
530         1       2  female   2.00      1      1   26.0000        S  NaN
43          1       2  female   3.00      1      2   41.5792        C  NaN
618         1       2  female   4.00      2      1   39.0000        S    F
750         1       2  female   4.00      1      1   23.0000        S  NaN
58          1       2  female   5.00      1      2   27.7500        S  NaN
720         1       2  female   6.00      0      1   33.0000        S  NaN
535         1       2  female   7.00      0      2   26.2500        S  NaN
237         1       2  female   8.00      0      2   26.2500        S  NaN
446         1       2  female  13.00      0      1   19.5000        S  NaN
9           1       2  female  14.00      1      0   30.0708        C  NaN
84          1       2  female  17.00      0      0   10.5000        S  NaN
389         1       2  female  17.00      0      0   12.0000        C  NaN
417         1       2  female  18.00      0      2   13.0000        S  NaN
651         1       2  female  18.00      0      1   23.0000        S  NaN
427         1       2  female  19.00      0      0   26.0000        S  NaN
546         1       2  female  19.00      1      0   26.0000        S  NaN
56          1       2  female  21.00      0      0   10.5000        S  NaN
323         1       2  female  22.00      1      1   29.0000        S  NaN
608         1       2  female  22.00      1      2   41.5792        C  NaN
473         1       2  female  23.00      0      0   13.7917        C    D
199         0       2  female  24.00      0      0   13.0000        S  NaN
247         1       2  female  24.00      0      2   14.5000        S  NaN
316         1       2  female  24.00      1      0   26.0000        S  NaN
345         1       2  female  24.00      0      0   13.0000        S    F
437         1       2  female  24.00      2      3   18.7500        S  NaN
600         1       2  female  24.00      2      1   27.0000        S  NaN
615         1       2  female  24.00      1      2   65.0000        S  NaN
580         1       2  female  25.00      1      1   30.0000        S  NaN
880         1       2  female  25.00      0      1   26.0000        S  NaN
312         0       2  female  26.00      1      1   26.0000        S  NaN
41          0       2  female  27.00      1      0   21.0000        S  NaN
717         1       2  female  27.00      0      0   10.5000        S    E
866         1       2  female  27.00      1      0   13.8583        C  NaN
399         1       2  female  28.00      0      0   12.6500        S  NaN
426         1       2  female  28.00      1      0   26.0000        S  NaN
443         1       2  female  28.00      0      0   13.0000        S  NaN
635         1       2  female  28.00      0      0   13.0000        S  NaN
874         1       2  female  28.00      1      0   24.0000        C  NaN
53          1       2  female  29.00      1      0   26.0000        S  NaN
66          1       2  female  29.00      0      0   10.5000        S    F
133         1       2  female  29.00      1      0   26.0000        S  NaN
322         1       2  female  30.00      0      0   12.3500        Q  NaN
726         1       2  female  30.00      3      0   21.0000        S  NaN
747         1       2  female  30.00      0      0   13.0000        S  NaN
801         1       2  female  31.00      1      1   26.2500        S  NaN
190         1       2  female  32.00      0      0   13.0000        S  NaN
123         1       2  female  32.50      0      0   13.0000        S    E
472         1       2  female  33.00      1      2   27.7500        S  NaN
506         1       2  female  33.00      0      2   26.0000        S  NaN

In [237]:
pd.options.display.max_rows = 900

In [243]:
df.sort_values(by = ['pclass','sex','age'], ascending = False)

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
851         0       3    male  74.00      0      0    7.7750        S  NaN
116         0       3    male  70.50      0      0    7.7500        Q  NaN
280         0       3    male  65.00      0      0    7.7500        Q  NaN
326         0       3    male  61.00      0      0    6.2375        S  NaN
94          0       3    male  59.00      0      0    7.2500        S  NaN
152         0       3    male  55.50      0      0    8.0500        S  NaN
222         0       3    male  51.00      0      0    8.0500        S  NaN
406         0       3    male  51.00      0      0    7.7500        S  NaN
631         0       3    male  51.00      0      0    7.0542        S  NaN
482         0       3    male  50.00      0      0    8.0500        S  NaN
597         0       3    male  49.00      0      0    0.0000        S  NaN
771         0       3    male  48.00      0      0    7.8542        S  NaN
592         0       3    male  47.00      0      0    7.2500        S  NaN
873         0       3    male  47.00      0      0    9.0000        S  NaN
203         0       3    male  45.50      0      0    7.2250        C  NaN
129         0       3    male  45.00      0      0    6.9750        S  NaN
338         1       3    male  45.00      0      0    8.0500        S  NaN
160         0       3    male  44.00      0      1   16.1000        S  NaN
414         1       3    male  44.00      0      0    7.9250        S  NaN
603         0       3    male  44.00      0      0    8.0500        S  NaN
696         0       3    male  44.00      0      0    8.0500        S  NaN
668         0       3    male  43.00      0      0    8.0500        S  NaN
818         0       3    male  43.00      0      0    6.4500        S  NaN
197         0       3    male  42.00      0      1    8.4042        S  NaN
349         0       3    male  42.00      0      0    8.6625        S  NaN
699         0       3    male  42.00      0      0    7.6500        S    F
845         0       3    male  42.00      0      0    7.5500        S  NaN
761         0       3    male  41.00      0      0    7.1250        S  NaN
860         0       3    male  41.00      2      0   14.1083        S  NaN
153         0       3    male  40.50      0      2   14.5000        S  NaN
525         0       3    male  40.50      0      0    7.7500        Q  NaN
188         0       3    male  40.00      1      1   15.5000        Q  NaN
360         0       3    male  40.00      1      4   27.9000        S  NaN
561         0       3    male  40.00      0      0    7.8958        S  NaN
661         0       3    male  40.00      0      0    7.2250        C  NaN
13          0       3    male  39.00      1      5   31.2750        S  NaN
400         1       3    male  39.00      0      0    7.9250        S  NaN
528         0       3    male  39.00      0      0    7.9250        S  NaN
811         0       3    male  39.00      0      0   24.1500        S  NaN
108         0       3    male  38.00      0      0    7.8958        S  NaN
465         0       3    male  38.00      0      0    7.0500        S  NaN
471         0       3    male  38.00      0      0    8.6625        S  NaN
104         0       3    male  37.00      2      0    7.9250        S  NaN
179         0       3    male  36.00      0      0    0.0000        S  NaN
189         0       3    male  36.00      0      0    7.8958        S  NaN
595         0       3    male  36.00      1      1   24.1500        S  NaN
605         0       3    male  36.00      1      0   15.5500        S  NaN
663         0       3    male  36.00      0      0    7.4958        S  NaN
4           0       3    male  35.00      0      0    8.0500        S  NaN
363         0       3    male  35.00      0      0    7.0500        S  NaN
590         0       3    male  35.00      0      0    7.1250        S  NaN
614         0       3    male  35.00      0      0    8.0500        S  NaN
847         0       3    male  35.00      0      0    7.8958        C  NaN
843         0       3    male  34.50      0      0    6.4375        C  NaN
202         0       3    male  34.00      0      0    6.4958        S  NaN
461         0       3    male  34.00      0      0    8.0500        S  NaN
616         0       3    male  34.00      1      1   14.4000        S  NaN
758         0       3    male  34.00      0      0    8.0500        S  NaN
103         0       3    male  33.00      0      0    8.6542        S  NaN
130         0       3    male  33.00      0      0    7.8958        C  NaN
285         0       3    male  33.00      0      0    8.6625        C  NaN
548         0       3    male  33.00      1      1   20.5250        S  NaN
719         0       3    male  33.00      0      0    7.7750        S  NaN
752         0       3    male  33.00      0      0    9.5000        S  NaN
881         0       3    male  33.00      0      0    7.8958        S  NaN
74          1       3    male  32.00      0      0   56.4958        S  NaN
206         0       3    male  32.00      1      0   15.8500        S  NaN
382         0       3    male  32.00      0      0    7.9250        S  NaN
429         1       3    male  32.00      0      0    8.0500        S    E
519         0       3    male  32.00      0      0    7.8958        S  NaN
569         1       3    male  32.00      0      0    7.8542        S  NaN
579         1       3    male  32.00      0      0    7.9250        S  NaN
636         0       3    male  32.00      0      0    7.9250        S  NaN
769         0       3    male  32.00      0      0    8.3625        S  NaN
838         1       3    male  32.00      0      0   56.4958        S  NaN
890         0       3    male  32.00      0      0    7.7500        Q  NaN
744         1       3    male  31.00      0      0    7.9250        S  NaN
749         0       3    male  31.00      0      0    7.7500        Q  NaN
805         0       3    male  31.00      0      0    7.7750        S  NaN
814         0       3    male  30.50      0      0    8.0500        S  NaN
157         0       3    male  30.00      0      0    8.0500        S  NaN
244         0       3    male  30.00      0      0    7.2250        C  NaN
253         0       3    male  30.00      1      0   16.1000        S  NaN
286         1       3    male  30.00      0      0    9.5000        S  NaN
365         0       3    male  30.00      0      0    7.2500        S  NaN
488         0       3    male  30.00      0      0    8.0500        S  NaN
606         0       3    male  30.00      0      0    7.8958        S  NaN
798         0       3    male  30.00      0      0    7.2292        C  NaN
81          1       3    male  29.00      0      0    9.5000        S  NaN
90          0       3    male  29.00      0      0    8.0500        S  NaN
231         0       3    male  29.00      0      0    7.7750        S  NaN
422         0       3    male  29.00      0      0    7.8750        S  NaN
455         1       3    male  29.00      0      0    7.8958        C  NaN
477         0       3    male  29.00      1      0    7.0458        S  NaN
510         1       3    male  29.00      0      0    7.7500        Q  NaN
713         0       3    male  29.00      0      0    9.4833        S  NaN
57          0       3    male  28.50      0      0    7.2292        C  NaN
735         0       3    male  28.50      0      0   16.1000        S  NaN
105         0       3    male  28.00      0      0    7.8958        S  NaN
169         0       3    male  28.00      0      0   56.4958        S  NaN
200         0       3    male  28.00      0      0    9.5000        S  NaN
281         0       3    male  28.00      0      0    7.8542        S  NaN
313         0       3    male  28.00      0      0    7.8958        S  NaN
355         0       3    male  28.00      0      0    9.5000        S  NaN
392         0       3    male  28.00      2      0    7.9250        S  NaN
403         0       3    male  28.00      1      0   15.8500        S  NaN
508         0       3    male  28.00      0      0   22.5250        S  NaN
756         0       3    male  28.00      0      0    7.7958        S  NaN
146         1       3    male  27.00      0      0    7.7958        S  NaN
321         0       3    male  27.00      0      0    7.8958        S  NaN
620         0       3    male  27.00      1      0   14.4542        C  NaN
804         1       3    male  27.00      0      0    6.9750        S  NaN
821         1       3    male  27.00      0      0    8.6625        S  NaN
69          0       3    male  26.00      2      0    8.6625        S  NaN
73          0       3    male  26.00      1      0   14.4542        C  NaN
93          0       3    male  26.00      1      2   20.5750        S  NaN
162         0       3    male  26.00      0      0    7.7750        S  NaN
207         1       3    male  26.00      0      0   18.7875        C  NaN
401         0       3    male  26.00      0      0    8.0500        S  NaN
509         1       3    male  26.00      0      0   56.4958        S  NaN
628         0       3    male  26.00      0      0    7.8958        S  NaN
704         0       3    male  26.00      1      0    7.8542        S  NaN
810         0       3    male  26.00      0      0    7.8875        S  NaN
870         0       3    male  26.00      0      0    7.8958        S  NaN
75          0       3    male  25.00      0      0    7.6500        S    F
267         1       3    male  25.00      1      0    7.7750        S  NaN
271         1       3    male  25.00      0      0    0.0000        S  NaN
353         0       3    male  25.00      1      0   17.8000        S  NaN
442         0       3    male  25.00      1      0    7.7750        S  NaN
693         0       3    male  25.00      0      0    7.2250        C  NaN
703         0       3    male  25.00      0      0    7.7417        Q  NaN
784         0       3    male  25.00      0      0    7.0500        S  NaN
785         0       3    male  25.00      0      0    7.2500        S  NaN
794         0       3    male  25.00      0      0    7.8958        S  NaN
884         0       3    male  25.00      0      0    7.0500        S  NaN
676         0       3    male  24.50      0      0    8.0500        S  NaN
89          0       3    male  24.00      0      0    8.0500        S  NaN
127         1       3    male  24.00      0      0    7.1417        S  NaN
210         0       3    male  24.00      0      0    7.0500        S  NaN
294         0       3    male  24.00      0      0    7.8958        S  NaN
499         0       3    male  24.00      0      0    7.7958        S  NaN
514         0       3    male  24.00      0      0    7.4958        S  NaN
565         0       3    male  24.00      2      0   24.1500        S  NaN
743         0       3    male  24.00      1      0   16.1000        S  NaN
770         0       3    male  24.00      0      0    9.5000        S  NaN
296         0       3    male  23.50      0      0    7.2292        C  NaN
350         0       3    male  23.00      0      0    9.2250        S  NaN
753         0       3    male  23.00      0      0    7.8958        S  NaN
833         0       3    male  23.00      0      0    7.8542        S  NaN
0           0       3    male  22.00      1      0    7.2500        S  NaN
60          0       3    male  22.00      0      0    7.2292        C  NaN
80          0       3    male  22.00      0      0    9.0000        S  NaN
112         0       3    male  22.00      0      0    8.0500        S  NaN
212         0       3    male  22.00      0      0    7.2500        S  NaN
225         0       3    male  22.00      0      0    9.3500        S  NaN
243         0       3    male  22.00      0      0    7.1250        S  NaN
287         0       3    male  22.00      0      0    7.8958        S  NaN
320         0       3    male  22.00      0      0    7.2500        S  NaN
395         0       3    male  22.00      0      0    7.7958        S  NaN
478         0       3    male  22.00      0      0    7.5208        S  NaN
521         0       3    male  22.00      0      0    7.8958        S  NaN
553         1       3    male  22.00      0      0    7.2250        C  NaN
588         0       3    male  22.00      0      0    8.0500        S  NaN
37          0       3    male  21.00      0      0    8.0500        S  NaN
51          0       3    male  21.00      0      0    7.8000        S  NaN
115         0       3    male  21.00      0      0    7.9250        S  NaN
173         0       3    male  21.00      0      0    7.9250        S  NaN
391         1       3    male  21.00      0      0    7.7958        S  NaN
408         0       3    male  21.00      0      0    7.7750        S  NaN
421         0       3    male  21.00      0      0    7.7333        Q  NaN
491         0       3    male  21.00      0      0    7.2500        S  NaN
494         0       3    male  21.00      0      0    8.0500        S  NaN
623         0       3    male  21.00      0      0    7.8542        S  NaN
624         0       3    male  21.00      0      0   16.1000        S  NaN
652         0       3    male  21.00      0      0    8.4333        S  NaN
836         0       3    male  21.00      0      0    8.6625        S  NaN
227         0       3    male  20.50      0      0    7.2500        S  NaN
12          0       3    male  20.00      0      0    8.0500        S  NaN
91          0       3    male  20.00      0      0    7.8542        S  NaN
131         0       3    male  20.00      0      0    7.0500        S  NaN
378         0       3    male  20.00      0      0    4.0125        C  NaN
441         0       3    male  20.00      0      0    9.5000        S  NaN
622         1       3    male  20.00      1      1   15.7417        C  NaN
640         0       3    male  20.00      0      0    7.8542        S  NaN
664         1       3    male  20.00      1      0    7.9250        S  NaN
682         0       3    male  20.00      0      0    9.2250        S  NaN
725         0       3    male  20.00      0      0    8.6625        S  NaN
762         1       3    male  20.00      0      0    7.2292        C  NaN
840         0       3    male  20.00      0      0    7.9250        S  NaN
876         0       3    male  20.00      0      0    9.8458        S  NaN
67          0       3    male  19.00      0      0    8.1583        S  NaN
143         0       3    male  19.00      0      0    6.7500        Q  NaN
283         1       3    male  19.00      0      0    8.0500        S  NaN
302         0       3    male  19.00      0      0    0.0000        S  NaN
372         0       3    male  19.00      0      0    8.0500        S  NaN
379         0       3    male  19.00      0      0    7.7750        S  NaN
566         0       3    male  19.00      0      0    7.8958        S  NaN
575         0       3    male  19.00      0      0   14.5000        S  NaN
646         0       3    male  19.00      0      0    7.8958        S  NaN
687         0       3    male  19.00      0      0   10.1708        S  NaN
715         0       3    male  19.00      0      0    7.6500        S    F
877         0       3    male  19.00      0      0    7.8958        S  NaN
175         0       3    male  18.00      1      1    7.8542        S  NaN
204         1       3    male  18.00      0      0    8.0500        S  NaN
371         0       3    male  18.00      1      0    6.4958        S  NaN
424         0       3    male  18.00      1      1   20.2125        S  NaN
675         0       3    male  18.00      0      0    7.7750        S  NaN
688         0       3    male  18.00      0      0    7.7958        S  NaN
775         0       3    male  18.00      0      0    7.7500        S  NaN
834         0       3    male  18.00      0      0    8.3000        S  NaN
163         0       3    male  17.00      0      0    8.6625        S  NaN
433         0       3    male  17.00      0      0    7.1250        S  NaN
500         0       3    male  17.00      0      0    8.6625        S  NaN
532         0       3    male  17.00      1      1    7.2292        C  NaN
721         0       3    male  17.00      1      0    7.0542        S  NaN
844         0       3    male  17.00      0      0    8.6625        S  NaN
86          0       3    male  16.00      1      3   34.3750        S  NaN
138         0       3    male  16.00      0      0    9.2167        S  NaN
220         1       3    male  16.00      0      0    8.0500        S  NaN
266         0       3    male  16.00      4      1   39.6875        S  NaN
282         0       3    male  16.00      0      0    9.5000        S  NaN
333         0       3    male  16.00      2      0   18.0000        S  NaN
574         0       3    male  16.00      0      0    8.0500        S  NaN
746         0       3    male  16.00      1      1   20.2500        S  NaN
764         0       3    male  16.00      0      0    7.7750        S  NaN
352         0       3    male  15.00      1      1    7.2292        C  NaN
683         0       3    male  14.00      5      2   46.9000        S  NaN
686         0       3    male  14.00      4      1   39.6875        S  NaN
125         1       3    male  12.00      1      0   11.2417        C  NaN
59          0       3    male  11.00      5      2   46.9000        S  NaN
731         0       3    male  11.00      0      0   18.7875        C  NaN
819         0       3    male  10.00      3      2   27.9000        S  NaN
165         1       3    male   9.00      0      2   20.5250        S  NaN
182         0       3    male   9.00      4      2   31.3875        S  NaN
480         0       3    male   9.00      5      2   46.9000        S  NaN
489         1       3    male   9.00      1      1   15.9000        S  NaN
787         0       3    male   8.00      4      1   29.1250        Q  NaN
50          0       3    male   7.00      4      1   39.6875        S  NaN
278         0       3    male   7.00      4      1   29.1250        Q  NaN
751         1       3    male   6.00      0      1   12.4750        S    E
63          0       3    male   4.00      3      2   27.9000        S  NaN
171         0       3    male   4.00      4      1   29.1250        Q  NaN
850         0       3    male   4.00      4      2   31.2750        S  NaN
869         1       3    male   4.00      1      1   11.1333        S  NaN
261         1       3    male   3.00      4      2   31.3875        S  NaN
348         1       3    male   3.00      1      1   15.9000        S  NaN
7           0       3    male   2.00      3      1   21.0750        S  NaN
16          0       3    male   2.00      4      1   29.1250        Q  NaN
824         0       3    male   2.00      4      1   39.6875        S  NaN
164         0       3    male   1.00      4      1   39.6875        S  NaN
386         0       3    male   1.00      5      2   46.9000        S  NaN
788         1       3    male   1.00      1      2   20.5750        S  NaN
803         1       3    male   0.42      0      1    8.5167        C  NaN
5           0       3    male    NaN      0      0    8.4583        Q  NaN
26          0       3    male    NaN      0      0    7.2250        C  NaN
29          0       3    male    NaN      0      0    7.8958        S  NaN
36          1       3    male    NaN      0      0    7.2292        C  NaN
42          0       3    male    NaN      0      0    7.8958        C  NaN
45          0       3    male    NaN      0      0    8.0500        S  NaN
46          0       3    male    NaN      1      0   15.5000        Q  NaN
48          0       3    male    NaN      2      0   21.6792        C  NaN
65          1       3    male    NaN      1      1   15.2458        C  NaN
76          0       3    male    NaN      0      0    7.8958        S  NaN
77          0       3    male    NaN      0      0    8.0500        S  NaN
87          0       3    male    NaN      0      0    8.0500        S  NaN

In [258]:
df.sort_values(by = ['pclass','sex','age'], ascending = [1,0,1], inplace = True)

In [259]:
df

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
305         1       1    male   0.92      1      2  151.5500        S    C
445         1       1    male   4.00      0      2   81.8583        S    A
802         1       1    male  11.00      1      2  120.0000        S    B
550         1       1    male  17.00      0      2  110.8833        C    C
505         0       1    male  18.00      1      0  108.9000        C    C
27          0       1    male  19.00      3      2  263.0000        S    C
748         0       1    male  19.00      1      0   53.1000        S    D
102         0       1    male  21.00      0      1   77.2875        S    D
373         0       1    male  22.00      0      0  135.6333        C  NaN
97          1       1    male  23.00      0      1   63.3583        C    D
118         0       1    male  24.00      0      1  247.5208        C    B
139         0       1    male  24.00      0      0   79.2000        C    B
370         1       1    male  25.00      1      0   55.4417        C    E
484         1       1    male  25.00      1      0   91.0792        C    B
889         1       1    male  26.00      0      0   30.0000        C    C
377         0       1    male  27.00      0      2  211.5000        C    C
607         1       1    male  27.00      0      0   30.5000        S  NaN
681         1       1    male  27.00      0      0   76.7292        C    D
724         1       1    male  27.00      1      0   53.1000        S    E
23          1       1    male  28.00      0      0   35.5000        S    A
34          0       1    male  28.00      1      0   82.1708        C  NaN
83          0       1    male  28.00      0      0   47.1000        S  NaN
430         1       1    male  28.00      0      0   26.5500        S    C
336         0       1    male  29.00      1      0   66.6000        S    C
782         0       1    male  29.00      0      0   30.0000        S    D
452         0       1    male  30.00      0      0   27.7500        C    C
671         0       1    male  31.00      1      0   52.0000        S    B
690         1       1    male  31.00      1      0   57.0000        S    B
867         0       1    male  31.00      0      0   50.4958        S    A
632         1       1    male  32.00      0      0   30.5000        C    B
872         0       1    male  33.00      0      0    5.0000        S    B
447         1       1    male  34.00      0      0   26.5500        S  NaN
604         1       1    male  35.00      0      0   26.5500        C  NaN
701         1       1    male  35.00      0      0   26.2875        S    E
737         1       1    male  35.00      0      0  512.3292        C    B
390         1       1    male  36.00      1      2  120.0000        S    B
512         1       1    male  36.00      0      0   26.2875        S    E
572         1       1    male  36.00      0      0   26.3875        S    E
583         0       1    male  36.00      0      0   40.1250        C    A
679         1       1    male  36.00      0      1  512.3292        C    B
741         0       1    male  36.00      1      0   78.8500        S    C
137         0       1    male  37.00      1      0   53.1000        S    C
248         1       1    male  37.00      1      1   52.5542        S    D
273         0       1    male  37.00      0      1   29.7000        C    C
224         1       1    male  38.00      1      0   90.0000        S    C
332         0       1    male  38.00      0      1  153.4625        S    C
822         0       1    male  38.00      0      0    0.0000        S  NaN
806         0       1    male  39.00      0      0    0.0000        S    A
30          0       1    male  40.00      0      0   27.7208        C  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
263         0       1    male  40.00      0      0    0.0000        S    B
35          0       1    male  42.00      1      0   52.0000        S  NaN
621         1       1    male  42.00      1      0   52.5542        S    D
707         1       1    male  42.00      0      0   26.2875        S    E
245         0       1    male  44.00      2      0   90.0000        Q    C
62          0       1    male  45.00      1      0   83.4750        S    C
187         1       1    male  45.00      0      0   26.5500        S  NaN
339         0       1    male  45.00      0      0   35.5000        S  NaN
536         0       1    male  45.00      0      0   26.5500        S    B
331         0       1    male  45.50      0      0   28.5000        S    C
92          0       1    male  46.00      1      0   61.1750        S    E
789         0       1    male  46.00      0      0   79.2000        C    B
110         0       1    male  47.00      0      0   52.0000        S    C
462         0       1    male  47.00      0      0   38.5000        S    E
515         0       1    male  47.00      0      0   34.0208        S    D
662         0       1    male  47.00      0      0   25.5875        S    E
460         1       1    male  48.00      0      0   26.5500        S    E
645         1       1    male  48.00      1      0   76.7292        C    D
712         1       1    male  48.00      1      0   52.0000        S    C
453         1       1    male  49.00      1      0   89.1042        C    C
599         1       1    male  49.00      1      0   56.9292        C    A
698         0       1    male  49.00      1      1  110.8833        C    C
434         0       1    male  50.00      1      0   55.9000        S    E
544         0       1    male  50.00      1      0  106.4250        C    C
660         1       1    male  50.00      2      0  133.6500        S  NaN
155         0       1    male  51.00      0      1   61.3792        C  NaN
857         1       1    male  51.00      0      0   26.5500        S    E
262         0       1    male  52.00      1      1   79.6500        S    E
449         1       1    male  52.00      0      0   30.5000        S    C
6           0       1    male  54.00      0      0   51.8625        S    E
124         0       1    male  54.00      0      1   77.2875        S    D
492         0       1    male  55.00      0      0   30.5000        S    C
174         0       1    male  56.00      0      0   30.6958        C    A
467         0       1    male  56.00      0      0   26.5500        S  NaN
647         1       1    male  56.00      0      0   35.5000        C    A
487         0       1    male  58.00      0      0   29.7000        C    B
659         0       1    male  58.00      0      2  113.2750        C    D
587         1       1    male  60.00      1      1   79.2000        C    B
694         0       1    male  60.00      0      0   26.5500        S  NaN
170         0       1    male  61.00      0      0   33.5000        S    B
625         0       1    male  61.00      0      0   32.3208        S    D
252         0       1    male  62.00      0      0   26.5500        S    C
555         0       1    male  62.00      0      0   26.5500        S  NaN
438         0       1    male  64.00      1      4  263.0000        S    C
545         0       1    male  64.00      0      0   26.0000        S  NaN
54          0       1    male  65.00      0      1   61.9792        C    B
456         0       1    male  65.00      0      0   26.5500        S    E
745         0       1    male  70.00      1      1   71.0000        S    B
96          0       1    male  71.00      0      0   34.6542        C    A
493         0       1    male  71.00      0      0   49.5042        C  NaN
630         1       1    male  80.00      0      0   30.0000        S    A
55          1       1    male    NaN      0      0   35.5000        S    C
64          0       1    male    NaN      0      0   27.7208        C  NaN
168         0       1    male    NaN      0      0   25.9250        S  NaN
185         0       1    male    NaN      0      0   50.0000        S    A
270         0       1    male    NaN      0      0   31.0000        S  NaN
284         0       1    male    NaN      0      0   26.0000        S    A
295         0       1    male    NaN      0      0   27.7208        C  NaN
298         1       1    male    NaN      0      0   30.5000        S    C
351         0       1    male    NaN      0      0   35.0000        S    C
475         0       1    male    NaN      0      0   52.0000        S    A
507         1       1    male    NaN      0      0   26.5500        S  NaN
527         0       1    male    NaN      0      0  221.7792        S    C
557         0       1    male    NaN      0      0  227.5250        C  NaN
602         0       1    male    NaN      0      0   42.4000        S  NaN
633         0       1    male    NaN      0      0    0.0000        S  NaN
711         0       1    male    NaN      0      0   26.5500        S    C
740         1       1    male    NaN      0      0   30.0000        S    D
766         0       1    male    NaN      0      0   39.6000        C  NaN
793         0       1    male    NaN      0      0   30.6958        C  NaN
815         0       1    male    NaN      0      0    0.0000        S    B
839         1       1    male    NaN      0      0   29.7000        C    C
297         0       1  female   2.00      1      2  151.5500        S    C
435         1       1  female  14.00      1      2  120.0000        S    B
689         1       1  female  15.00      0      1  211.3375        S    B
329         1       1  female  16.00      0      1   57.9792        C    B
504         1       1  female  16.00      0      0   86.5000        S    B
853         1       1  female  16.00      0      1   39.4000        S    D
307         1       1  female  17.00      1      0  108.9000        C    C
781         1       1  female  17.00      1      0   57.0000        S    B
311         1       1  female  18.00      2      2  262.3750        C    B
585         1       1  female  18.00      0      2   79.6500        S    E
700         1       1  female  18.00      1      0  227.5250        C    C
136         1       1  female  19.00      0      2   26.2833        S    D
291         1       1  female  19.00      1      0   91.0792        C    B
887         1       1  female  19.00      0      0   30.0000        S    B
627         1       1  female  21.00      0      0   77.9583        S    D
742         1       1  female  21.00      2      2  262.3750        C    B
151         1       1  female  22.00      1      0   66.6000        S    C
356         1       1  female  22.00      0      1   55.0000        S    E
539         1       1  female  22.00      0      2   49.5000        C    B
708         1       1  female  22.00      0      0  151.5500        S  NaN
88          1       1  female  23.00      3      2  263.0000        S    C
393         1       1  female  23.00      1      0  113.2750        C    D
310         1       1  female  24.00      0      0   83.1583        C    C
341         1       1  female  24.00      3      2  263.0000        S    C
369         1       1  female  24.00      0      0   69.3000        C    B
641         1       1  female  24.00      0      0   69.3000        C    B
710         1       1  female  24.00      0      0   49.5042        C    C
498         0       1  female  25.00      1      2  151.5500        S    C
290         1       1  female  26.00      0      0   78.8500        S  NaN
730         1       1  female  29.00      0      0  211.3375        S    B
257         1       1  female  30.00      0      0   86.5000        S    B
309         1       1  female  30.00      0      0   56.9292        C    E
520         1       1  female  30.00      0      0   93.5000        S    B
537         1       1  female  30.00      0      0  106.4250        C  NaN
842         1       1  female  30.00      0      0   31.0000        C  NaN
215         1       1  female  31.00      1      0  113.2750        C    D
318         1       1  female  31.00      0      2  164.8667        S    C
218         1       1  female  32.00      0      0   76.2917        C    D
412         1       1  female  33.00      1      0   90.0000        Q    C
759         1       1  female  33.00      0      0   86.5000        S    B
809         1       1  female  33.00      1      0   53.1000        S    E
3           1       1  female  35.00      1      0   53.1000        S    C
230         1       1  female  35.00      1      0   83.4750        S    C
258         1       1  female  35.00      0      0  512.3292        C  NaN
269         1       1  female  35.00      0      0  135.6333        S    C
383         1       1  female  35.00      1      0   52.0000        S  NaN
486         1       1  female  35.00      1      0   90.0000        S    C
325         1       1  female  36.00      0      0  135.6333        C    C
540         1       1  female  36.00      0      2   71.0000        S    B
763         1       1  female  36.00      1      2  120.0000        S    B
1           1       1  female  38.00      1      0   71.2833        C    C
61          1       1  female  38.00      0      0   80.0000      NaN    B
716         1       1  female  38.00      0      0  227.5250        C    C
558         1       1  female  39.00      1      1   79.6500        S    E
577         1       1  female  39.00      1      0   55.9000        S    E
581         1       1  female  39.00      1      1  110.8833        C    C
835         1       1  female  39.00      1      1   83.1583        C    E
319         1       1  female  40.00      1      1  134.5000        C    E
609         1       1  female  40.00      0      0  153.4625        S    C
337         1       1  female  41.00      0      0  134.5000        C    E
380         1       1  female  42.00      0      0  227.5250        C  NaN
779         1       1  female  43.00      0      1  211.3375        S    B
194         1       1  female  44.00      0      0   27.7208        C    B
523         1       1  female  44.00      0      1   57.9792        C    B
856         1       1  female  45.00      1      1  164.8667        S  NaN
871         1       1  female  47.00      1      1   52.5542        S    D
556         1       1  female  48.00      1      0   39.6000        C    A
862         1       1  female  48.00      0      0   25.9292        S    D
52          1       1  female  49.00      1      0   76.7292        C    D
796         1       1  female  49.00      0      0   25.9292        S    D
177         0       1  female  50.00      0      0   28.7125        C    C
299         1       1  female  50.00      0      1  247.5208        C    B
765         1       1  female  51.00      1      0   77.9583        S    D
591         1       1  female  52.00      1      0   78.2667        C    D
820         1       1  female  52.00      1      1   93.5000        S    B
571         1       1  female  53.00      2      0   51.4792        S    C
496         1       1  female  54.00      1      0   78.2667        C    D
513         1       1  female  54.00      1      0   59.4000        C  NaN
879         1       1  female  56.00      0      1   83.1583        C    C
11          1       1  female  58.00      0      0   26.5500        S    C
195         1       1  female  58.00      0      0  146.5208        C    B
268         1       1  female  58.00      0      1  153.4625        S    C
366         1       1  female  60.00      1      0   75.2500        C    D
829         1       1  female  62.00      0      0   80.0000      NaN    B
275         1       1  female  63.00      1      0   77.9583        S    D
31          1       1  female    NaN      1      0  146.5208        C    B
166         1       1  female    NaN      0      1   55.0000        S    E
256         1       1  female    NaN      0      0   79.2000        C  NaN
306         1       1  female    NaN      0      0  110.8833        C  NaN
334         1       1  female    NaN      1      0  133.6500        S  NaN
375         1       1  female    NaN      1      0   82.1708        C  NaN
457         1       1  female    NaN      1      0   51.8625        S    D
669         1       1  female    NaN      1      0   52.0000        S    C
849         1       1  female    NaN      1      0   89.1042        C    C
755         1       2    male   0.67      1      1   14.5000        S  NaN
78          1       2    male   0.83      0      2   29.0000        S  NaN
831         1       2    male   0.83      1      1   18.7500        S  NaN
183         1       2    male   1.00      2      1   39.0000        S    F
827         1       2    male   1.00      0      2   37.0042        C  NaN
340         1       2    male   2.00      1      1   26.0000        S    F
193         1       2    male   3.00      1      1   26.0000        S    F
407         1       2    male   3.00      1      1   18.7500        S  NaN
549         1       2    male   8.00      1      1   36.7500        S  NaN
791         0       2    male  16.00      0      0   26.0000        S  NaN
841         0       2    male  16.00      0      0   10.5000        S  NaN
144         0       2    male  18.00      0      0   11.5000        S  NaN
228         0       2    male  18.00      0      0   13.0000        S  NaN
385         0       2    male  18.00      0      0   73.5000        S  NaN
757         0       2    male  18.00      0      0   11.5000        S  NaN
145         0       2    male  19.00      1      1   36.7500        S  NaN
191         0       2    male  19.00      0      0   13.0000        S  NaN
226         1       2    male  19.00      0      0   10.5000        S  NaN
238         0       2    male  19.00      0      0   10.5000        S  NaN
72          0       2    male  21.00      0      0   73.5000        S  NaN
120         0       2    male  21.00      2      0   73.5000        S  NaN
861         0       2    male  21.00      1      0   11.5000        S  NaN
135         0       2    male  23.00      0      0   15.0458        C  NaN
398         0       2    male  23.00      0      0   10.5000        S  NaN
529         0       2    male  23.00      2      1   11.5000        S  NaN
658         0       2    male  23.00      0      0   13.0000        S  NaN
733         0       2    male  23.00      0      0   13.0000        S  NaN
734         0       2    male  23.00      0      0   13.0000        S  NaN
234         0       2    male  24.00      0      0   10.5000        S  NaN
655         0       2    male  24.00      2      0   73.5000        S  NaN
864         0       2    male  24.00      0      0   13.0000        S  NaN
134         0       2    male  25.00      0      0   13.0000        S  NaN
343         0       2    male  25.00      0      0   13.0000        S  NaN
666         0       2    male  25.00      0      0   13.0000        S  NaN
685         0       2    male  25.00      1      2   41.5792        C  NaN
728         0       2    male  25.00      1      0   26.0000        S  NaN
619         0       2    male  26.00      0      0   10.5000        S  NaN
221         0       2    male  27.00      0      0   13.0000        S  NaN
551         0       2    male  27.00      0      0   26.0000        S  NaN
886         0       2    male  27.00      0      0   13.0000        S  NaN
342         0       2    male  28.00      0      0   13.0000        S  NaN
562         0       2    male  28.00      0      0   13.5000        S  NaN
848         0       2    male  28.00      0      1   33.0000        S  NaN
883         0       2    male  28.00      0      0   10.5000        S  NaN
117         0       2    male  29.00      1      0   21.0000        S  NaN
242         0       2    male  29.00      0      0   10.5000        S  NaN
361         0       2    male  29.00      1      0   27.7208        C  NaN
178         0       2    male  30.00      0      0   13.0000        S  NaN
213         0       2    male  30.00      0      0   13.0000        S  NaN

In [249]:
df.iloc[0:10,:]

     survived  pclass   sex    age  sibsp  parch      fare embarked deck
305         1       1  male   0.92      1      2  151.5500        S    C
445         1       1  male   4.00      0      2   81.8583        S    A
802         1       1  male  11.00      1      2  120.0000        S    B
550         1       1  male  17.00      0      2  110.8833        C    C
505         0       1  male  18.00      1      0  108.9000        C    C
27          0       1  male  19.00      3      2  263.0000        S    C
748         0       1  male  19.00      1      0   53.1000        S    D
102         0       1  male  21.00      0      1   77.2875        S    D
373         0       1  male  22.00      0      0  135.6333        C  NaN
97          1       1  male  23.00      0      1   63.3583        C    D

In [251]:
df

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
305         1       1    male   0.92      1      2  151.5500        S    C
445         1       1    male   4.00      0      2   81.8583        S    A
802         1       1    male  11.00      1      2  120.0000        S    B
550         1       1    male  17.00      0      2  110.8833        C    C
505         0       1    male  18.00      1      0  108.9000        C    C
27          0       1    male  19.00      3      2  263.0000        S    C
748         0       1    male  19.00      1      0   53.1000        S    D
102         0       1    male  21.00      0      1   77.2875        S    D
373         0       1    male  22.00      0      0  135.6333        C  NaN
97          1       1    male  23.00      0      1   63.3583        C    D
118         0       1    male  24.00      0      1  247.5208        C    B
139         0       1    male  24.00      0      0   79.2000        C    B
370         1       1    male  25.00      1      0   55.4417        C    E
484         1       1    male  25.00      1      0   91.0792        C    B
889         1       1    male  26.00      0      0   30.0000        C    C
377         0       1    male  27.00      0      2  211.5000        C    C
607         1       1    male  27.00      0      0   30.5000        S  NaN
681         1       1    male  27.00      0      0   76.7292        C    D
724         1       1    male  27.00      1      0   53.1000        S    E
23          1       1    male  28.00      0      0   35.5000        S    A
34          0       1    male  28.00      1      0   82.1708        C  NaN
83          0       1    male  28.00      0      0   47.1000        S  NaN
430         1       1    male  28.00      0      0   26.5500        S    C
336         0       1    male  29.00      1      0   66.6000        S    C
782         0       1    male  29.00      0      0   30.0000        S    D
452         0       1    male  30.00      0      0   27.7500        C    C
671         0       1    male  31.00      1      0   52.0000        S    B
690         1       1    male  31.00      1      0   57.0000        S    B
867         0       1    male  31.00      0      0   50.4958        S    A
632         1       1    male  32.00      0      0   30.5000        C    B
872         0       1    male  33.00      0      0    5.0000        S    B
447         1       1    male  34.00      0      0   26.5500        S  NaN
604         1       1    male  35.00      0      0   26.5500        C  NaN
701         1       1    male  35.00      0      0   26.2875        S    E
737         1       1    male  35.00      0      0  512.3292        C    B
390         1       1    male  36.00      1      2  120.0000        S    B
512         1       1    male  36.00      0      0   26.2875        S    E
572         1       1    male  36.00      0      0   26.3875        S    E
583         0       1    male  36.00      0      0   40.1250        C    A
679         1       1    male  36.00      0      1  512.3292        C    B
741         0       1    male  36.00      1      0   78.8500        S    C
137         0       1    male  37.00      1      0   53.1000        S    C
248         1       1    male  37.00      1      1   52.5542        S    D
273         0       1    male  37.00      0      1   29.7000        C    C
224         1       1    male  38.00      1      0   90.0000        S    C
332         0       1    male  38.00      0      1  153.4625        S    C
822         0       1    male  38.00      0      0    0.0000        S  NaN
806         0       1    male  39.00      0      0    0.0000        S    A
30          0       1    male  40.00      0      0   27.7208        C  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
263         0       1    male  40.00      0      0    0.0000        S    B
35          0       1    male  42.00      1      0   52.0000        S  NaN
621         1       1    male  42.00      1      0   52.5542        S    D
707         1       1    male  42.00      0      0   26.2875        S    E
245         0       1    male  44.00      2      0   90.0000        Q    C
62          0       1    male  45.00      1      0   83.4750        S    C
187         1       1    male  45.00      0      0   26.5500        S  NaN
339         0       1    male  45.00      0      0   35.5000        S  NaN
536         0       1    male  45.00      0      0   26.5500        S    B
331         0       1    male  45.50      0      0   28.5000        S    C
92          0       1    male  46.00      1      0   61.1750        S    E
789         0       1    male  46.00      0      0   79.2000        C    B
110         0       1    male  47.00      0      0   52.0000        S    C
462         0       1    male  47.00      0      0   38.5000        S    E
515         0       1    male  47.00      0      0   34.0208        S    D
662         0       1    male  47.00      0      0   25.5875        S    E
460         1       1    male  48.00      0      0   26.5500        S    E
645         1       1    male  48.00      1      0   76.7292        C    D
712         1       1    male  48.00      1      0   52.0000        S    C
453         1       1    male  49.00      1      0   89.1042        C    C
599         1       1    male  49.00      1      0   56.9292        C    A
698         0       1    male  49.00      1      1  110.8833        C    C
434         0       1    male  50.00      1      0   55.9000        S    E
544         0       1    male  50.00      1      0  106.4250        C    C
660         1       1    male  50.00      2      0  133.6500        S  NaN
155         0       1    male  51.00      0      1   61.3792        C  NaN
857         1       1    male  51.00      0      0   26.5500        S    E
262         0       1    male  52.00      1      1   79.6500        S    E
449         1       1    male  52.00      0      0   30.5000        S    C
6           0       1    male  54.00      0      0   51.8625        S    E
124         0       1    male  54.00      0      1   77.2875        S    D
492         0       1    male  55.00      0      0   30.5000        S    C
174         0       1    male  56.00      0      0   30.6958        C    A
467         0       1    male  56.00      0      0   26.5500        S  NaN
647         1       1    male  56.00      0      0   35.5000        C    A
487         0       1    male  58.00      0      0   29.7000        C    B
659         0       1    male  58.00      0      2  113.2750        C    D
587         1       1    male  60.00      1      1   79.2000        C    B
694         0       1    male  60.00      0      0   26.5500        S  NaN
170         0       1    male  61.00      0      0   33.5000        S    B
625         0       1    male  61.00      0      0   32.3208        S    D
252         0       1    male  62.00      0      0   26.5500        S    C
555         0       1    male  62.00      0      0   26.5500        S  NaN
438         0       1    male  64.00      1      4  263.0000        S    C
545         0       1    male  64.00      0      0   26.0000        S  NaN
54          0       1    male  65.00      0      1   61.9792        C    B
456         0       1    male  65.00      0      0   26.5500        S    E
745         0       1    male  70.00      1      1   71.0000        S    B
96          0       1    male  71.00      0      0   34.6542        C    A
493         0       1    male  71.00      0      0   49.5042        C  NaN
630         1       1    male  80.00      0      0   30.0000        S    A
55          1       1    male    NaN      0      0   35.5000        S    C
64          0       1    male    NaN      0      0   27.7208        C  NaN
168         0       1    male    NaN      0      0   25.9250        S  NaN
185         0       1    male    NaN      0      0   50.0000        S    A
270         0       1    male    NaN      0      0   31.0000        S  NaN
284         0       1    male    NaN      0      0   26.0000        S    A
295         0       1    male    NaN      0      0   27.7208        C  NaN
298         1       1    male    NaN      0      0   30.5000        S    C
351         0       1    male    NaN      0      0   35.0000        S    C
475         0       1    male    NaN      0      0   52.0000        S    A
507         1       1    male    NaN      0      0   26.5500        S  NaN
527         0       1    male    NaN      0      0  221.7792        S    C
557         0       1    male    NaN      0      0  227.5250        C  NaN
602         0       1    male    NaN      0      0   42.4000        S  NaN
633         0       1    male    NaN      0      0    0.0000        S  NaN
711         0       1    male    NaN      0      0   26.5500        S    C
740         1       1    male    NaN      0      0   30.0000        S    D
766         0       1    male    NaN      0      0   39.6000        C  NaN
793         0       1    male    NaN      0      0   30.6958        C  NaN
815         0       1    male    NaN      0      0    0.0000        S    B
839         1       1    male    NaN      0      0   29.7000        C    C
297         0       1  female   2.00      1      2  151.5500        S    C
435         1       1  female  14.00      1      2  120.0000        S    B
689         1       1  female  15.00      0      1  211.3375        S    B
329         1       1  female  16.00      0      1   57.9792        C    B
504         1       1  female  16.00      0      0   86.5000        S    B
853         1       1  female  16.00      0      1   39.4000        S    D
307         1       1  female  17.00      1      0  108.9000        C    C
781         1       1  female  17.00      1      0   57.0000        S    B
311         1       1  female  18.00      2      2  262.3750        C    B
585         1       1  female  18.00      0      2   79.6500        S    E
700         1       1  female  18.00      1      0  227.5250        C    C
136         1       1  female  19.00      0      2   26.2833        S    D
291         1       1  female  19.00      1      0   91.0792        C    B
887         1       1  female  19.00      0      0   30.0000        S    B
627         1       1  female  21.00      0      0   77.9583        S    D
742         1       1  female  21.00      2      2  262.3750        C    B
151         1       1  female  22.00      1      0   66.6000        S    C
356         1       1  female  22.00      0      1   55.0000        S    E
539         1       1  female  22.00      0      2   49.5000        C    B
708         1       1  female  22.00      0      0  151.5500        S  NaN
88          1       1  female  23.00      3      2  263.0000        S    C
393         1       1  female  23.00      1      0  113.2750        C    D
310         1       1  female  24.00      0      0   83.1583        C    C
341         1       1  female  24.00      3      2  263.0000        S    C
369         1       1  female  24.00      0      0   69.3000        C    B
641         1       1  female  24.00      0      0   69.3000        C    B
710         1       1  female  24.00      0      0   49.5042        C    C
498         0       1  female  25.00      1      2  151.5500        S    C
290         1       1  female  26.00      0      0   78.8500        S  NaN
730         1       1  female  29.00      0      0  211.3375        S    B
257         1       1  female  30.00      0      0   86.5000        S    B
309         1       1  female  30.00      0      0   56.9292        C    E
520         1       1  female  30.00      0      0   93.5000        S    B
537         1       1  female  30.00      0      0  106.4250        C  NaN
842         1       1  female  30.00      0      0   31.0000        C  NaN
215         1       1  female  31.00      1      0  113.2750        C    D
318         1       1  female  31.00      0      2  164.8667        S    C
218         1       1  female  32.00      0      0   76.2917        C    D
412         1       1  female  33.00      1      0   90.0000        Q    C
759         1       1  female  33.00      0      0   86.5000        S    B
809         1       1  female  33.00      1      0   53.1000        S    E
3           1       1  female  35.00      1      0   53.1000        S    C
230         1       1  female  35.00      1      0   83.4750        S    C
258         1       1  female  35.00      0      0  512.3292        C  NaN
269         1       1  female  35.00      0      0  135.6333        S    C
383         1       1  female  35.00      1      0   52.0000        S  NaN
486         1       1  female  35.00      1      0   90.0000        S    C
325         1       1  female  36.00      0      0  135.6333        C    C
540         1       1  female  36.00      0      2   71.0000        S    B
763         1       1  female  36.00      1      2  120.0000        S    B
1           1       1  female  38.00      1      0   71.2833        C    C
61          1       1  female  38.00      0      0   80.0000      NaN    B
716         1       1  female  38.00      0      0  227.5250        C    C
558         1       1  female  39.00      1      1   79.6500        S    E
577         1       1  female  39.00      1      0   55.9000        S    E
581         1       1  female  39.00      1      1  110.8833        C    C
835         1       1  female  39.00      1      1   83.1583        C    E
319         1       1  female  40.00      1      1  134.5000        C    E
609         1       1  female  40.00      0      0  153.4625        S    C
337         1       1  female  41.00      0      0  134.5000        C    E
380         1       1  female  42.00      0      0  227.5250        C  NaN
779         1       1  female  43.00      0      1  211.3375        S    B
194         1       1  female  44.00      0      0   27.7208        C    B
523         1       1  female  44.00      0      1   57.9792        C    B
856         1       1  female  45.00      1      1  164.8667        S  NaN
871         1       1  female  47.00      1      1   52.5542        S    D
556         1       1  female  48.00      1      0   39.6000        C    A
862         1       1  female  48.00      0      0   25.9292        S    D
52          1       1  female  49.00      1      0   76.7292        C    D
796         1       1  female  49.00      0      0   25.9292        S    D
177         0       1  female  50.00      0      0   28.7125        C    C
299         1       1  female  50.00      0      1  247.5208        C    B
765         1       1  female  51.00      1      0   77.9583        S    D
591         1       1  female  52.00      1      0   78.2667        C    D
820         1       1  female  52.00      1      1   93.5000        S    B
571         1       1  female  53.00      2      0   51.4792        S    C
496         1       1  female  54.00      1      0   78.2667        C    D
513         1       1  female  54.00      1      0   59.4000        C  NaN
879         1       1  female  56.00      0      1   83.1583        C    C
11          1       1  female  58.00      0      0   26.5500        S    C
195         1       1  female  58.00      0      0  146.5208        C    B
268         1       1  female  58.00      0      1  153.4625        S    C
366         1       1  female  60.00      1      0   75.2500        C    D
829         1       1  female  62.00      0      0   80.0000      NaN    B
275         1       1  female  63.00      1      0   77.9583        S    D
31          1       1  female    NaN      1      0  146.5208        C    B
166         1       1  female    NaN      0      1   55.0000        S    E
256         1       1  female    NaN      0      0   79.2000        C  NaN
306         1       1  female    NaN      0      0  110.8833        C  NaN
334         1       1  female    NaN      1      0  133.6500        S  NaN
375         1       1  female    NaN      1      0   82.1708        C  NaN
457         1       1  female    NaN      1      0   51.8625        S    D
669         1       1  female    NaN      1      0   52.0000        S    C
849         1       1  female    NaN      1      0   89.1042        C    C
755         1       2    male   0.67      1      1   14.5000        S  NaN
78          1       2    male   0.83      0      2   29.0000        S  NaN
831         1       2    male   0.83      1      1   18.7500        S  NaN
183         1       2    male   1.00      2      1   39.0000        S    F
827         1       2    male   1.00      0      2   37.0042        C  NaN
340         1       2    male   2.00      1      1   26.0000        S    F
193         1       2    male   3.00      1      1   26.0000        S    F
407         1       2    male   3.00      1      1   18.7500        S  NaN
549         1       2    male   8.00      1      1   36.7500        S  NaN
791         0       2    male  16.00      0      0   26.0000        S  NaN
841         0       2    male  16.00      0      0   10.5000        S  NaN
144         0       2    male  18.00      0      0   11.5000        S  NaN
228         0       2    male  18.00      0      0   13.0000        S  NaN
385         0       2    male  18.00      0      0   73.5000        S  NaN
757         0       2    male  18.00      0      0   11.5000        S  NaN
145         0       2    male  19.00      1      1   36.7500        S  NaN
191         0       2    male  19.00      0      0   13.0000        S  NaN
226         1       2    male  19.00      0      0   10.5000        S  NaN
238         0       2    male  19.00      0      0   10.5000        S  NaN
72          0       2    male  21.00      0      0   73.5000        S  NaN
120         0       2    male  21.00      2      0   73.5000        S  NaN
861         0       2    male  21.00      1      0   11.5000        S  NaN
135         0       2    male  23.00      0      0   15.0458        C  NaN
398         0       2    male  23.00      0      0   10.5000        S  NaN
529         0       2    male  23.00      2      1   11.5000        S  NaN
658         0       2    male  23.00      0      0   13.0000        S  NaN
733         0       2    male  23.00      0      0   13.0000        S  NaN
734         0       2    male  23.00      0      0   13.0000        S  NaN
234         0       2    male  24.00      0      0   10.5000        S  NaN
655         0       2    male  24.00      2      0   73.5000        S  NaN
864         0       2    male  24.00      0      0   13.0000        S  NaN
134         0       2    male  25.00      0      0   13.0000        S  NaN
343         0       2    male  25.00      0      0   13.0000        S  NaN
666         0       2    male  25.00      0      0   13.0000        S  NaN
685         0       2    male  25.00      1      2   41.5792        C  NaN
728         0       2    male  25.00      1      0   26.0000        S  NaN
619         0       2    male  26.00      0      0   10.5000        S  NaN
221         0       2    male  27.00      0      0   13.0000        S  NaN
551         0       2    male  27.00      0      0   26.0000        S  NaN
886         0       2    male  27.00      0      0   13.0000        S  NaN
342         0       2    male  28.00      0      0   13.0000        S  NaN
562         0       2    male  28.00      0      0   13.5000        S  NaN
848         0       2    male  28.00      0      1   33.0000        S  NaN
883         0       2    male  28.00      0      0   10.5000        S  NaN
117         0       2    male  29.00      1      0   21.0000        S  NaN
242         0       2    male  29.00      0      0   10.5000        S  NaN
361         0       2    male  29.00      1      0   27.7208        C  NaN
178         0       2    male  30.00      0      0   13.0000        S  NaN
213         0       2    male  30.00      0      0   13.0000        S  NaN

In [252]:
df.iloc[0:20,:]

     survived  pclass   sex    age  sibsp  parch      fare embarked deck
305         1       1  male   0.92      1      2  151.5500        S    C
445         1       1  male   4.00      0      2   81.8583        S    A
802         1       1  male  11.00      1      2  120.0000        S    B
550         1       1  male  17.00      0      2  110.8833        C    C
505         0       1  male  18.00      1      0  108.9000        C    C
27          0       1  male  19.00      3      2  263.0000        S    C
748         0       1  male  19.00      1      0   53.1000        S    D
102         0       1  male  21.00      0      1   77.2875        S    D
373         0       1  male  22.00      0      0  135.6333        C  NaN
97          1       1  male  23.00      0      1   63.3583        C    D
118         0       1  male  24.00      0      1  247.5208        C    B
139         0       1  male  24.00      0      0   79.2000        C    B
370         1       1  male  25.00      1      0   55.4417        C    E
484         1       1  male  25.00      1      0   91.0792        C    B
889         1       1  male  26.00      0      0   30.0000        C    C
377         0       1  male  27.00      0      2  211.5000        C    C
607         1       1  male  27.00      0      0   30.5000        S  NaN
681         1       1  male  27.00      0      0   76.7292        C    D
724         1       1  male  27.00      1      0   53.1000        S    E
23          1       1  male  28.00      0      0   35.5000        S    A

In [262]:
pd.options.display.max_rows = 60

In [260]:
df.reset_index(inplace = True)

In [263]:
df

,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck
0,305,1,1,male,0.92,1,2,151.5500,S,C
1,445,1,1,male,4.00,0,2,81.8583,S,A
2,802,1,1,male,11.00,1,2,120.0000,S,B
3,550,1,1,male,17.00,0,2,110.8833,C,C
4,505,0,1,male,18.00,1,0,108.9000,C,C
...,...,...,...,...,...,...,...,...,...,...
886,697,1,3,female,NaN,0,0,7.7333,Q,NaN
887,727,1,3,female,NaN,0,0,7.7375,Q,NaN
888,792,0,3,female,NaN,8,2,69.5500,S,NaN
889,863,0,3,female,NaN,8,2,69.5500,S,NaN
890,888,0,3,female,NaN,1,2,23.4500,S,NaN

In [266]:
df.drop(columns = 'index', inplace = True)

In [267]:
df

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
0           1       1    male   0.92      1      2  151.5500        S    C
1           1       1    male   4.00      0      2   81.8583        S    A
2           1       1    male  11.00      1      2  120.0000        S    B
3           1       1    male  17.00      0      2  110.8833        C    C
4           0       1    male  18.00      1      0  108.9000        C    C
..        ...     ...     ...    ...    ...    ...       ...      ...  ...
886         1       3  female    NaN      0      0    7.7333        Q  NaN
887         1       3  female    NaN      0      0    7.7375        Q  NaN
888         0       3  female    NaN      8      2   69.5500        S  NaN
889         0       3  female    NaN      8      2   69.5500        S  NaN
890         0       3  female    NaN      1      2   23.4500        S  NaN

[891 rows x 9 columns]

In [269]:
df.drop(['deck'], axis = 1)

     survived  pclass     sex    age  sibsp  parch      fare embarked
0           1       1    male   0.92      1      2  151.5500        S
1           1       1    male   4.00      0      2   81.8583        S
2           1       1    male  11.00      1      2  120.0000        S
3           1       1    male  17.00      0      2  110.8833        C
4           0       1    male  18.00      1      0  108.9000        C
..        ...     ...     ...    ...    ...    ...       ...      ...
886         1       3  female    NaN      0      0    7.7333        Q
887         1       3  female    NaN      0      0    7.7375        Q
888         0       3  female    NaN      8      2   69.5500        S
889         0       3  female    NaN      8      2   69.5500        S
890         0       3  female    NaN      1      2   23.4500        S

[891 rows x 8 columns]

In [270]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [271]:
df.agg(['mean','median','std','var'])

/var/folders/np/z13y5s3n2jlc7d6fgfm132gm0000gn/T/ipykernel_60456/1397780733.py:1: FutureWarning: ['sex', 'embarked', 'deck'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg(['mean','median','std','var'])

        survived    pclass         age     sibsp     parch         fare
mean    0.383838  2.308642   29.699118  0.523008  0.381594    32.204208
median  0.000000  3.000000   28.000000  0.000000  0.000000    14.454200
std     0.486592  0.836071   14.526497  1.102743  0.806057    49.693429
var     0.236772  0.699015  211.019125  1.216043  0.649728  2469.436846

In [272]:
df.agg({'survived':'mean','age':['min','max'],'fare':['min','max'],'parch':'sum'})

      survived    age      fare  parch
mean  0.383838    NaN       NaN    NaN
min        NaN   0.42    0.0000    NaN
max        NaN  80.00  512.3292    NaN
sum        NaN    NaN       NaN  340.0

In [273]:
df

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
0           1       1    male   0.92      1      2  151.5500        S    C
1           1       1    male   4.00      0      2   81.8583        S    A
2           1       1    male  11.00      1      2  120.0000        S    B
3           1       1    male  17.00      0      2  110.8833        C    C
4           0       1    male  18.00      1      0  108.9000        C    C
..        ...     ...     ...    ...    ...    ...       ...      ...  ...
886         1       3  female    NaN      0      0    7.7333        Q  NaN
887         1       3  female    NaN      0      0    7.7375        Q  NaN
888         0       3  female    NaN      8      2   69.5500        S  NaN
889         0       3  female    NaN      8      2   69.5500        S  NaN
890         0       3  female    NaN      1      2   23.4500        S  NaN

[891 rows x 9 columns]

In [274]:
df.set_index('pclass')

        survived     sex    age  sibsp  parch      fare embarked deck
pclass
1              1    male   0.92      1      2  151.5500        S    C
1              1    male   4.00      0      2   81.8583        S    A
1              1    male  11.00      1      2  120.0000        S    B
1              1    male  17.00      0      2  110.8833        C    C
1              0    male  18.00      1      0  108.9000        C    C
...          ...     ...    ...    ...    ...       ...      ...  ...
3              1  female    NaN      0      0    7.7333        Q  NaN
3              1  female    NaN      0      0    7.7375        Q  NaN
3              0  female    NaN      8      2   69.5500        S  NaN
3              0  female    NaN      8      2   69.5500        S  NaN
3              0  female    NaN      1      2   23.4500        S  NaN

[891 rows x 8 columns]

In [275]:
df.set_index('pclass', inplace = True)

In [276]:
df

        survived     sex    age  sibsp  parch      fare embarked deck
pclass
1              1    male   0.92      1      2  151.5500        S    C
1              1    male   4.00      0      2   81.8583        S    A
1              1    male  11.00      1      2  120.0000        S    B
1              1    male  17.00      0      2  110.8833        C    C
1              0    male  18.00      1      0  108.9000        C    C
...          ...     ...    ...    ...    ...       ...      ...  ...
3              1  female    NaN      0      0    7.7333        Q  NaN
3              1  female    NaN      0      0    7.7375        Q  NaN
3              0  female    NaN      8      2   69.5500        S  NaN
3              0  female    NaN      8      2   69.5500        S  NaN
3              0  female    NaN      1      2   23.4500        S  NaN

[891 rows x 8 columns]

In [278]:
df.iloc[[1],:]

        survived   sex  age  sibsp  parch     fare embarked deck
pclass
1              1  male  4.0      0      2  81.8583        S    A

In [279]:
df.loc[1,:]

        survived     sex    age  sibsp  parch      fare embarked deck
pclass
1              1    male   0.92      1      2  151.5500        S    C
1              1    male   4.00      0      2   81.8583        S    A
1              1    male  11.00      1      2  120.0000        S    B
1              1    male  17.00      0      2  110.8833        C    C
1              0    male  18.00      1      0  108.9000        C    C
...          ...     ...    ...    ...    ...       ...      ...  ...
1              1  female    NaN      1      0  133.6500        S  NaN
1              1  female    NaN      1      0   82.1708        C  NaN
1              1  female    NaN      1      0   51.8625        S    D
1              1  female    NaN      1      0   52.0000        S    C
1              1  female    NaN      1      0   89.1042        C    C

[216 rows x 8 columns]

In [282]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [283]:
df.set_index(['pclass','sex'], inplace = True)

In [284]:
df

               survived   age  sibsp  parch     fare embarked deck
pclass sex
3      male           0  22.0      1      0   7.2500        S  NaN
1      female         1  38.0      1      0  71.2833        C    C
3      female         1  26.0      0      0   7.9250        S  NaN
1      female         1  35.0      1      0  53.1000        S    C
3      male           0  35.0      0      0   8.0500        S  NaN
...                 ...   ...    ...    ...      ...      ...  ...
2      male           0  27.0      0      0  13.0000        S  NaN
1      female         1  19.0      0      0  30.0000        S    B
3      female         0   NaN      1      2  23.4500        S  NaN
1      male           1  26.0      0      0  30.0000        C    C
3      male           0  32.0      0      0   7.7500        Q  NaN

[891 rows x 7 columns]

In [286]:
df.sort_index(inplace = True)

In [289]:
df

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       female         1  49.0      1      0   76.7292        C    D
...                 ...   ...    ...    ...       ...      ...  ...
3      male           0  19.0      0      0    7.8958        S  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           0  33.0      0      0    7.8958        S  NaN
       male           0  25.0      0      0    7.0500        S  NaN
       male           0  32.0      0      0    7.7500        Q  NaN

[891 rows x 7 columns]

In [295]:
df.loc[1,'female']

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       female         1  49.0      1      0   76.7292        C    D
...                 ...   ...    ...    ...       ...      ...  ...
       female         1  45.0      1      1  164.8667        S  NaN
       female         1  48.0      0      0   25.9292        S    D
       female         1  47.0      1      1   52.5542        S    D
       female         1  56.0      0      1   83.1583        C    C
       female         1  19.0      0      0   30.0000        S    B

[94 rows x 7 columns]

In [296]:
df

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       female         1  49.0      1      0   76.7292        C    D
...                 ...   ...    ...    ...       ...      ...  ...
3      male           0  19.0      0      0    7.8958        S  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           0  33.0      0      0    7.8958        S  NaN
       male           0  25.0      0      0    7.0500        S  NaN
       male           0  32.0      0      0    7.7500        Q  NaN

[891 rows x 7 columns]

In [297]:
df.set_index('survived')

           age  sibsp  parch      fare embarked deck
survived
1         38.0      1      0   71.2833        C    C
1         35.0      1      0   53.1000        S    C
1         58.0      0      0   26.5500        S    C
1          NaN      1      0  146.5208        C    B
1         49.0      1      0   76.7292        C    D
...        ...    ...    ...       ...      ...  ...
0         19.0      0      0    7.8958        S  NaN
0          NaN      0      0    7.8958        S  NaN
0         33.0      0      0    7.8958        S  NaN
0         25.0      0      0    7.0500        S  NaN
0         32.0      0      0    7.7500        Q  NaN

[891 rows x 6 columns]

In [298]:
df

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       female         1  49.0      1      0   76.7292        C    D
...                 ...   ...    ...    ...       ...      ...  ...
3      male           0  19.0      0      0    7.8958        S  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           0  33.0      0      0    7.8958        S  NaN
       male           0  25.0      0      0    7.0500        S  NaN
       male           0  32.0      0      0    7.7500        Q  NaN

[891 rows x 7 columns]

In [300]:
df.swaplevel()

               survived   age  sibsp  parch      fare embarked deck
sex    pclass
female 1              1  38.0      1      0   71.2833        C    C
       1              1  35.0      1      0   53.1000        S    C
       1              1  58.0      0      0   26.5500        S    C
       1              1   NaN      1      0  146.5208        C    B
       1              1  49.0      1      0   76.7292        C    D
...                 ...   ...    ...    ...       ...      ...  ...
male   3              0  19.0      0      0    7.8958        S  NaN
       3              0   NaN      0      0    7.8958        S  NaN
       3              0  33.0      0      0    7.8958        S  NaN
       3              0  25.0      0      0    7.0500        S  NaN
       3              0  32.0      0      0    7.7500        Q  NaN

[891 rows x 7 columns]

In [303]:
df.set_index(['pclass','sex','survived'], inplace = True)

In [304]:
df

                         age  sibsp  parch     fare embarked deck
pclass sex    survived
3      male   0         22.0      1      0   7.2500        S  NaN
1      female 1         38.0      1      0  71.2833        C    C
3      female 1         26.0      0      0   7.9250        S  NaN
1      female 1         35.0      1      0  53.1000        S    C
3      male   0         35.0      0      0   8.0500        S  NaN
...                      ...    ...    ...      ...      ...  ...
2      male   0         27.0      0      0  13.0000        S  NaN
1      female 1         19.0      0      0  30.0000        S    B
3      female 0          NaN      1      2  23.4500        S  NaN
1      male   1         26.0      0      0  30.0000        C    C
3      male   0         32.0      0      0   7.7500        Q  NaN

[891 rows x 6 columns]

In [305]:
df.swaplevel()

                         age  sibsp  parch     fare embarked deck
pclass survived sex
3      0        male    22.0      1      0   7.2500        S  NaN
1      1        female  38.0      1      0  71.2833        C    C
3      1        female  26.0      0      0   7.9250        S  NaN
1      1        female  35.0      1      0  53.1000        S    C
3      0        male    35.0      0      0   8.0500        S  NaN
...                      ...    ...    ...      ...      ...  ...
2      0        male    27.0      0      0  13.0000        S  NaN
1      1        female  19.0      0      0  30.0000        S    B
3      0        female   NaN      1      2  23.4500        S  NaN
1      1        male    26.0      0      0  30.0000        C    C
3      0        male    32.0      0      0   7.7500        Q  NaN

[891 rows x 6 columns]

In [306]:
df

                         age  sibsp  parch     fare embarked deck
pclass sex    survived
3      male   0         22.0      1      0   7.2500        S  NaN
1      female 1         38.0      1      0  71.2833        C    C
3      female 1         26.0      0      0   7.9250        S  NaN
1      female 1         35.0      1      0  53.1000        S    C
3      male   0         35.0      0      0   8.0500        S  NaN
...                      ...    ...    ...      ...      ...  ...
2      male   0         27.0      0      0  13.0000        S  NaN
1      female 1         19.0      0      0  30.0000        S    B
3      female 0          NaN      1      2  23.4500        S  NaN
1      male   1         26.0      0      0  30.0000        C    C
3      male   0         32.0      0      0   7.7500        Q  NaN

[891 rows x 6 columns]

In [307]:
df.sort_index()

                         age  sibsp  parch      fare embarked deck
pclass sex    survived
1      female 0         50.0      0      0   28.7125        C    C
              0          2.0      1      2  151.5500        S    C
              0         25.0      1      2  151.5500        S    C
              1         38.0      1      0   71.2833        C    C
              1         35.0      1      0   53.1000        S    C
...                      ...    ...    ...       ...      ...  ...
3      male   1         27.0      0      0    6.9750        S  NaN
              1         27.0      0      0    8.6625        S  NaN
              1          NaN      0      0    7.7500        Q  NaN
              1         32.0      0      0   56.4958        S  NaN
              1          4.0      1      1   11.1333        S  NaN

[891 rows x 6 columns]